[2017-07-25 12:44] brainbug89 commented on #644
@DoctorOtterface I also noticed huge delays (>500ms) sometime. Try to restart SSE3 to see if this fix the problem.

@ersan It only works with Generic Peripheral, because Aurora doesn't support individual headsets at the moment.
Both earpieces of the SteelSeries Arctis 5 should light up, because I added rgb-1-zone and rgb-2-zone so the Arctis 5 should be covered. :thinking:

[2017-07-25 12:49] DoctorOtterface commented on #644
@brainbug89 Restarting SSE3 alleviate the issues partly, the periods where there is minimal latency is on average shorter however. Delays however do seem to be less frequent following an SSE3 restart.

[2017-07-25 21:29] Dagda52 commented on #639
Yeah Adromeda doesnt do anything at all compared to other games that at least have partial effectos like bf1

[2017-07-25 22:34] simon-wh commented on #661
@ThallesAdorno Is you App Detection method set to Windows Events? If so could you try setting it to Foreground app scan?

[2017-07-25 23:28] ersan commented on #644
@brainbug89 I don't know much about it but it seems like the siberia headsets are rgb-1-zone but the Arctis 5 is rgb-2-zone, maybe the data for headsets is only being passed as rgb-1-zone?

[2017-07-26 12:13] Xanarinera commented on #674
Ok so i tried setting a solid colour layer on that key and the surrounding keys and it didn't work sadly.
Here a pic of what i did http://s000.tinyupload.com/index.php?file_id=88883813499348751344

[2017-07-26 12:27] simon-wh commented on #674
What Keyboard layout have you selected? It seems you have a US keyboard but you don't have the US keyboard layout selected.

[2017-07-26 12:39] Xanarinera commented on #674
Wow so i changed it from auto select to us layout and it fixed it

[2017-07-26 12:43] #674 closed

[2017-07-26 14:55] diogotr7 commented on #179
@Dagda52 how did you get it to work? Are you on the dev version?

[2017-07-26 14:59] simon-wh commented on #663
@ersan Can you find any DLL's from Razer normally in the Warframe files?

[2017-07-26 16:06] #677 closed

[2017-07-26 19:47] #463 closed

[2017-07-26 19:47] #684 closed

[2017-07-26 20:50] twalts opened #690 "Can't access scripts in v0.6.0-dev2"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [x] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-07-26 20:57] simon-wh commented on #690
You should check the logs as there is a decent chance that the reason it isn't being displayed because it has errored out when it was being loaded.

[2017-07-26 21:06] twalts commented on #690
@simon-wh Thanks for the quick response! You were right. Not sure exactly what the logs mean, but I found an error loading the scripts.
[code]

[2017-07-26 21:08] simon-wh commented on #690
@twalts The first two are outdated device scripts. But the third is what I assume is one of the scripts you've put in the device scripts. They should be put in %appdata%/Aurora/Profiles/%application%/Scripts

[2017-07-26 21:19] twalts commented on #690
@simon-wh I put PingPulser.cs in the /Profiles/desktop/Scripts/, but the dropdown menu remains greyed out. There's no mention in the logs of an error loading it either. It worked perfectly for me last version of Aurora, but since I've upgraded it can't seem to find the .cs file.

[2017-07-26 21:24] simon-wh commented on #690
I just tried to load some scripts and it isn't working for me either. Must've accidentally broken it at some point. I'm looking into it

[2017-07-26 21:24] twalts commented on #690
@simon-wh Awesome, thank you!!

[2017-07-26 21:31] simon-wh commented on #690
@twalts I've found out why it isn't working. It was a while back when I made the changes to the scripts so that's why I forgot about this. The scripts are now required to implement the IEffectScript interface and there are some slight variations with what is required by the interface and what used to be required. So any previous scripts will need to be updated to work with the dev version and in f

[2017-07-26 21:39] twalts commented on #690
Got it, that makes sense. I'll try to contact the dev of the script to see if he can implement the changes, otherwise I'm going to have to figure it out myself! Thanks again

[2017-07-26 21:47] #690 closed

[2017-07-26 23:05] twalts opened #691 "Away effects not working anymore on dev2 preview?"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [X] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [X] Performance problems
- [

[2017-07-26 23:09] simon-wh commented on #691
The away effects have been fixed in the development branch and will be included in the next release (either development or stable 0.6.1)

[2017-07-26 23:09] #691 closed

[2017-07-26 23:29] simon-wh commented on #639
It could be a case similar to other games like H1Z1 and possibly Warframe where the game doesn't load the wrapper due to an Anti-cheat or similar. @Dagda52 @ersan @txeptsyip Just to clear it up, is it the case where after patching, MEA just doesn't change anything or does it make the keyboard go blank and doesn't display anything beyond that? If it just doesn't change anything and continues deskto

[2017-07-27 02:04] Dagda52 commented on #639
In the case of MEA and warframe, yeah the keyboard is just in the desktop lighting it doesn´t change, i even tried puting the dlls in windows/system32 ans syswow64 like when you install razer sdk.

[2017-07-27 02:07] Dagda52 commented on #663
@simon-wh i think he meant once you put the wraper dlls from aurora, the razer effects in this game will not load unless you delete those dll´s and let razer synapse catch the game instead.

[2017-07-27 08:27] DogeAmazed commented on #68
If we want to get support without using OpenHardwareMonitor w/ WMI, we need to create an wrapper for NVAPI and also for other GPU vendors.
Here's an wrapper for NVAPI: https://github.com/falahati/NvAPIWrapper

[2017-07-27 08:35] VoronFX commented on #68
@DogeAmazed It's not a problem. I've already extracted such wrapper from OpenHardwareMonitor and using it my scripts. The problem is to integrate it into Aurora itself. Even this is not a problem, it's just a task that needs time and wish to be done. Currently I am too busy to work on it, but I believe I will do it sometime, but not now.

[2017-07-27 11:19] simon-wh commented on #639
@Dagda52, In that case I'm going with my theory about the Anti-Cheat blocking the wrapper

[2017-07-27 11:19] #639 closed

[2017-07-27 13:00] VoronFX commented on #561
@simon-wh
Cause I am a gamer this problem is very important for me also. By this day I was using self-builded Aurora with completely disabled hooks to grant that it will not cause input lag.

We discussed it a bit with @antonpup. The root of the problem is global low level hooks. Microsoft designed them in such way that they are blocking input and causes so much problems in so many places (I think

[2017-07-27 13:06] simon-wh commented on #561
@VoronFX The issue probably affects people differently depending on their CPU. I personally don't experience any input lag using an I7-4790K, but most people won't have something like that. I'm going to have a look at the MouseKeyHook to see if there is anything I can do with it to improve performance, but I think everything that could be done has been done in Aurora as a new thread is started to

[2017-07-27 15:37] Mikewl commented on #539
Anything I can do to help this side?
I have vs but I am not sure where to look for the correct values

[2017-07-27 17:13] DogeAmazed commented on #561
w/o touching the MouseKeyHook itself or embed the hook inside Aurora, we can maybe not creating an `Task` inside the event. Instead it would be better if we have an queue that we fill up inside the event and have an Task/Thread that do the "real" action. Maybe this give some performance.
Would be good to check the performance for Task creation and the queue implemention.

If we implementing the ho

[2017-07-27 19:49] twalts opened #692 "Ability for mouseclick to trigger interactive layer removed?"
### What are you experiencing an issue with?

- [X] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [X] Performance problems
- [

[2017-07-27 19:55] DogeAmazed commented on #692
Yes it was remove with this release: https://github.com/antonpup/Aurora/releases/tag/v0.6.0-dev
There was an performance issue with the mouse hook.

[2017-07-27 21:39] ToadKing commented on #644
When writing to the GameSense API you should always wait for the last call to return before making another one. If you don't wait the calls can get backed up which might be causing your delays.

[2017-07-28 01:04] VoronFX commented on #561
I think the overhead of MouseKeyHook abstractions and calls should be also avoided. The goal is to return from hook function as fast as possible. The way you proposed is exactly what I was thinking about.

Private queue for every hook to avoid using of syncronizations and thread/task/timer that reads data from those queues with some interval. So in hook there are will be only creating of new queue

[2017-07-28 01:43] DogeAmazed commented on #561
Yep would be nice. At the end I can look over it, maybe I can get some µs out of it.
For a extra performance boost you might considering unmanaged/unsafe C# code.

[2017-07-28 07:55] VoronFX commented on #561
While searching for a good implementations of low level hooks I've found one article about messy windows API's that helped me discover another one API that should solve all our problems.

It's called RawInput and it's even more low level that low level hooks itself. It doesn't allow to intercept hooks and we don't need it. Instead it just posts message into message pump and goes on. That's mean no

[2017-07-28 09:19] Nadeox1 opened #694 "BeamNG.Drive Support"
Requesting support for this game:
http://store.steampowered.com/app/284160/?l=english

Comes with 'Outgauge' support, and many of the game's aspects can be accessed easily.

Stuff like showing RPM/Speed values on the keyboard, or a blink effect when you trigger a crash sound would be neat I guess.

For any help you can ask over the official forum

[2017-07-28 10:12] Nadeox1 opened #695 "MasterKeys Pro L - Numpad 4 not lighting up"
On the MasterKeys Pro L, the Numpad 4 button does not light up with any effect (It does if I disable Aurora, so it's working). In the Aurora visualization, the key appears lit.

I'm using the QWERTY (Italian) version.

Photo attached
![20170728_121029](https://user-images.githubusercontent.com/30523472/28713088-fe5c8ecc-738d-11e7-94b6-f655788f4010.jpg)

EDIT - In addition, the 'Pause' button seems

[2017-07-28 10:49] brainbug89 commented on #695
Duplicate of #549

Could be a problem with the IT layout.

[2017-07-28 10:56] brainbug89 commented on #561
RawInput sounds like the right solution.

[2017-07-28 12:38] Wolfieeewolf commented on #599
http://mattcallaghan.blogspot.com.au/2016/01/ambx-glow.html

[2017-07-28 13:16] DogeAmazed commented on #561
I also look into RawInput, trying to create an test application with it.

[2017-07-28 15:51] #695 closed

[2017-07-28 18:02] simon-wh commented on #145
This is no longer an issue due to the Shortcut Assistant redesign and changes made in PR #693

[2017-07-28 18:02] #145 closed

[2017-07-28 23:20] remnantOW opened #696 "Support for the Logitech G Pro Mouse (Overwatch)"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [x ] Aurora supported device, (Logitech G Pro)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [ ] Visual bug

[2017-07-28 23:37] Dagda52 commented on #179
nope, i'm currently using the official 0.6.0b, i just installed the wrappers dll's near the executable, other thing you can try i founf this dll's works if you put them in windows/system32 and windows/syswow64, doing that you can patch them globally, and no need to put them in every game.

[2017-07-28 23:43] Dagda52 commented on #179
dont forget to enable effects in game http://steamcommunity.com/sharedfiles/filedetails/?id=1093395217

[2017-07-29 00:03] diogotr7 commented on #179
I just solved the problem. I added a profile for the .exe and that made it not work, once I deleted it it started working as it should.

[2017-07-29 00:45] simon-wh commented on #696
I don't see that device listed in the Logitech LED SDK documentation so I think it might not be supported by it. In which case, there isn't much I can do to support it. If it is actually supported by the sdk you should be able to select a similar device in the options and the lighting should apply to your mouse if you set it.

[2017-07-29 00:45] #696 closed

[2017-07-29 02:01] InvertTails commented on #561
Just so I clear things up for my situation but I updated to the dev build and the performance issues have mostly fixed after updating.

[2017-07-29 02:33] olokos commented on #607
Same issue here, nothing works, just static background in csgo like described here. K70 LUX RGB USA

[2017-07-29 03:08] VoronFX commented on #561
@InvertTails  You are right in "mostly fixed". Although current impact is not so significant the root of the problem is still there. Because we've found the solution that will fix this entirely and provide other benefits in addition, we have to take this to the end.

[2017-07-29 11:48] DoctorOtterface commented on #644
@brainbug89 perhaps looking over how [CalcProgrammer1/KeyboardVisualizer](https://github.com/CalcProgrammer1/KeyboardVisualizer) addresses GameSense give you some insights on correcting the delay.

[2017-07-29 12:31] brainbug89 commented on #644
Thanks for the link. I looked into the [SteelSeriesGameSense.cpp](https://github.com/CalcProgrammer1/KeyboardVisualizer/blob/master/KeyboardVisualizerCommon/SteelSeriesGameSense.cpp) but unfortunately  it looks like they don't using GameSense at all (they using direct USB communication).

[2017-07-29 12:43] DoctorOtterface commented on #644
@brainbug89 perhaps that means there's a rate limit on GameSense then, and they decided direct addressing was the best alternative.

[2017-07-29 13:52] VoronFX commented on #561
Anyone knows for what next fragment is intended for?
[code]
What is that special case?
What we do here is blocking Alt + VolumeUp/VolumeDown for system and all apps.
Why do we need this and do we truly need this?
Anyway we can't suppress a key-press with RawInput but we can skip it for our app if that is needed.

This fragment was added [in this commit](https://github.com/antonpup/Aurora/commit/75

[2017-07-29 22:07] SqugSCX opened #697 "No support for K95 RGB Platinum"
The program doesen't have support for a k95 rgb platinum keyboard, I managed to get the G1-G6 keys working by using the freestyle tool and selecting every one of the G1-G18 keys on the on-screen layout. But I can't get the top bar of the RGB Platinum to work, which would be very nice to be a health bar in CS:GO. I hope you can add support for the Corsair K95 RGB Platinum! Thanks!

[2017-07-29 22:16] #593 closed

[2017-07-29 22:16] simon-wh commented on #697
Duplicate of #445

[2017-07-29 22:16] #697 closed

[2017-07-29 22:30] SqugSCX commented on #445
+1

[2017-07-29 23:07] LukasACH commented on #463
There are some Keys mapped wrong while coloring the physical Keyboard, In Aurora, all keypresses show up at the correct Location.

I found the following Errors:
![ch_layout](https://user-images.githubusercontent.com/16141905/28749244-3b02e126-74c1-11e7-8938-95e940e01bbd.PNG)

| Pressed Keys | Lit Keys |
|:------------:|:--------:|
| 1 | Nothing |
| 2 | 4 |
| 3 | 5 |
| 4 | 6 |
| 5 | 1 |
| 6 | 7 |
|

[2017-07-29 23:19] simon-wh commented on #463
@LukasACH So what you're describing is that the keys show properly when pressed in Aurora but the actual keys lit on the keyboard are wrong and don't match what is displayed in Aurora?

[2017-07-29 23:24] LukasACH commented on #463
Yes. For example, if I press key 2 on my keyboard, then key 2 is highlighted in Aurora, but the color is applied to key 4.

[2017-07-30 00:06] simon-wh commented on #463
@LukasACH Thanks for letting me know about this, I realized that I was forgetting a whole step to the process of adding layouts. I'm going to rewrite how the layouts work so it is less frustrating to do, but I'm going to do it after v0.6.1 is released because I don't want to introduce more bugs before it.

[2017-07-30 00:34] simon-wh commented on #463
@LukasACH I'm just after saying I was going to wait until after v0.6.1 to rewrite this. But I'm going to do a bit of it now. My plan is to have pretty much all the layouts to use the same layout of DeviceKeys, but with the correct display character. The layout would include a conversion table of the device keys which corrects incoming keys to the correct device key, this means that the keys can be

[2017-07-30 02:27] #23 closed

[2017-07-30 03:30] simon-wh commented on #549
Does anyone have the numpad lighting problem on Cooler Master devices other than the Masterkeys Pro L? As I might just add a minor change to the coords for the lighting of those numpad keys even though it should be correct according to the docs.

[2017-07-30 03:31] simon-wh commented on #616
Any updates on this?

[2017-07-30 03:33] simon-wh commented on #601
Any updates on this?

[2017-07-30 03:34] #586 closed

[2017-07-30 03:36] #543 closed

[2017-07-30 03:36] #544 closed

[2017-07-30 03:39] simon-wh commented on #541
@Zeeanq Could you try using the [latest development release](https://github.com/antonpup/Aurora/releases) to see if it makes a difference?

[2017-07-30 03:42] #534 closed

[2017-07-30 03:47] simon-wh commented on #530
Closed until further details provided.

[2017-07-30 03:48] simon-wh commented on #514
@ZephyrArcturus Could you try the [latest development release](https://github.com/antonpup/Aurora/releases) to see if it resolves your issue?

[2017-07-30 03:55] simon-wh commented on #472
The default razer chroma features should only appear if you've patched the game. In which case you could remove the patch. However, I think now in the [latest development releases](https://github.com/antonpup/Aurora/releases) the custom profile should display instead of the wrapper lighting.

[2017-07-30 04:05] simon-wh commented on #451
@sll552 The excluded process option in the current stable release I think is intended to stop lighting when that application is in the foreground and probably return it to the default lighting (CUE, LGS, etc). However, in the current dev stuff it doesn't really do anything significant (which I'm going to fix). Aurora detects applications based on the foreground window, it doesn't do anything like

[2017-07-30 04:05] #451 closed

[2017-07-30 04:06] simon-wh commented on #452
You can get the changes in the [latest prerelease](https://github.com/antonpup/Aurora/releases). I'm going to close this issue because I'm definitely going to forget about it when it comes to the release of 0.6.1

[2017-07-30 04:06] #452 closed

[2017-07-30 04:10] #369 closed

[2017-07-30 05:16] VoronFX commented on #561
Okay, I've found for what it was used for. It's for feature allowing to regulate keyboard brightness with Alt+Volume keys. Unfortunately for this feature to work we must use low level hooks. =(
I am thinking of using RawInput for general use and attaching low level hooks only if brightness feature is enabled. So high performance low level hooks implementation is still needed if want leave brightne

[2017-07-30 07:03] Mistercrit commented on #445
I'm commenting to say that I would love if the K95 Platinum were now supported in Aurora. Considering it is my primary keyboard of use, and the SDK has been updated, there's no reason not to add it.

[2017-07-30 08:44] UltimateUltimo commented on #530
Alright here's a better explanation to replicate the issue
1)Play some music and let the equalizer work (I put it as the top layer and the effect type is Power Spectrum)
2)Go to Control Panel
3)Go to Hardware and Sound
4)Go to manage Audio devices (A window will appear with all your sound devices)
5)Left click on the default device you are using.
6)Click Properties
7)Go to Enhancements
8)Click the

[2017-07-30 12:40] VoronFX commented on #561
Recent investigation update:
I've very well explored how all this stuff (communication with WinApi, interop callbacks, message pump... etc.) is working. I've really made personal level up in knowledge of windows architecture last several hours. Yay! =)

Now I see the problem entirely and how to solve it.

So how LLHooks works?
Windows is pushing message to thread's message pump (those one from whi

[2017-07-30 13:04] DogeAmazed commented on #561
Good to see, that somebody, other than me, understands the low-level architecture of Windows.
Do we really need the LLK-Hook atm? For me, Alt + VDown/VUp is doing nothing, so no reason for blocking it.

[2017-07-30 13:12] ZephyrArcturus commented on #514
@antonpup @simon-wh the issue is fixed with the 0.6.1 dev2 update!
thanks a lot for the awesome work

[2017-07-30 13:12] #514 closed

[2017-07-30 13:34] mhakans opened #698 "g910 keyboard goes dark after starting"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [x] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-07-30 15:19] LukasACH commented on #463
As a sidenote for consistency reasons, the ISO abbreviation for Switzerland is `ch`.

[2017-07-30 16:24] simon-wh commented on #698
Does the keyboard preview show lighting that isn't displayed on your keyboard?

[2017-07-30 16:31] simon-wh commented on #530
@UltimateUltimo I tested it following what you did there and still couldn't replicate it. Are you definitely using v0.6.1-dev2?

[2017-07-30 17:02] mhakans commented on #698
yes but its not like its used to be. it looks very dim on the preview but nothing on keyboard

[2017-07-30 17:04] simon-wh commented on #698
Could you check the keyboard brightness in settings?

[2017-07-30 17:06] mhakans commented on #698
ok that was the problem. but i dont ever remember changing it. its weird. thanks for the help

[2017-07-30 17:12] simon-wh commented on #698
You might have accidentally changed it using Alt+Volume.

[2017-07-30 17:12] #698 closed

[2017-07-30 19:22] TekkertheChaot commented on #601
I'm sorry Simon, I haven't got any notifications about this ticket until now.
So, sorry for leaving you hanging there 2 months

To answer your comment from about a month ago: I use the Logitech G810 Orion Spectrum (keyboard) and the Logitech G502 Proteus Spectrum (mouse).
Since posting here, I continued playing with aurora active in the background and the issue seem's to be gone after a major Wind

[2017-07-30 21:51] simon-wh commented on #601
@TekkertheChaot Thanks for getting back to me. Currently, @VoronFX is working on changes which will hopefully eliminate most if not all input lag issues which can be seen over here #561.

[2017-07-30 21:51] #601 closed

[2017-07-31 04:34] AKBoy14 opened #699 "Logitech wrapper does nothing in the 0.6.1-dev2"
like the title says, the Logitech wrapper does nothing for me, I click the patch button, and the loading wheel on the side of the arrow appears like if it was doing something, but then nothing happen, no message saying that it's patch, or that it failed, and when i check the Logitech folder, nothing happen with the LogitechLed.dll files,

[2017-07-31 04:56] simon-wh commented on #699
I fixed this earlier in the dev branch. The fix will be available in the next dev release or 0.6.1

[2017-07-31 04:56] #699 closed

[2017-07-31 05:00] AKBoy14 commented on #699
ok, thanks :)

[2017-07-31 17:06] simon-wh commented on #681
@Gtasian Can you post the log file from BLT when you have both Aurora running and GSI installed?

[2017-07-31 17:44] blueshift418 opened #700 "Lighting profiles for Orisa and Doomfist [Overwatch]"
Are these in the works?

[2017-07-31 17:50] simon-wh commented on #700
The keyboard lighting you see for Overwatch is lighting that is sent from the game. We have no control over the effects that are performed. It is up to Overwatch to have the effects for those characters implemented, there is nothing we can do about it as we don't get information from the game, only the lighting to perform.

[2017-07-31 17:50] #700 closed

[2017-07-31 19:11] ferpart opened #701 "GTX Strix sync"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [x] Aurora supported device, (Sync with Gtx Strix graphic cards)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problem

[2017-07-31 19:18] simon-wh commented on #701
I think you're talking about Asus Aura(?). If so, duplicate of #546

[2017-07-31 19:18] #701 closed

[2017-07-31 19:37] CermakPOI commented on #646
Normal App: Notepad++
I tried as Admin - same. Is HOTS/Planetside 2 working for anybody?

[2017-08-01 00:06] Dagda52 opened #702 "Install Aurora wrapper patch for logitech does nothing"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [x] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-08-01 00:24] simon-wh commented on #702
Duplicate of #699. See explanation there.

[2017-08-01 00:24] #702 closed

[2017-08-01 03:27] Jangalang opened #703 "Worked for a long time - stopped - now errors during reinstall"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [x] Crash
- [ ] Performance problems
- [

[2017-08-01 03:33] Jangalang commented on #703
Well now the Visual Studio installed, but Aurora still crashes. Attempting another restart.

[2017-08-01 03:39] gyroknight opened #704 "Support for the Razer Chroma Mug?"
Hey guys, awesome app you've got here. Any chance support for the Razer Chroma Mug Holder will be added? The mug holder seems to get stuck on whatever effect was active in Synapse before Aurora's launch (in my case, clockwise wave) and doesn't respond to whether the mug is in the holder or not, which normally occurs based on whether the base plate is pressed or not. Unplugging and replugging in th

[2017-08-01 13:48] simon-wh commented on #703
Delete %appdata%/Aurora/Config.json

[2017-08-01 13:48] #703 closed

[2017-08-01 14:30] UltimateUltimo commented on #530
Nope. I tried it again and the same issue happened, here's a small recording: https://youtu.be/hQYvThU8A6Q

Could be my OS since its not the retail version

[2017-08-01 14:48] ArisonHild opened #705 "MotoSpeed Keyboard Suport"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [X ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-08-01 14:54] simon-wh commented on #705
From what I can see there is no SDK available for those keyboards so there isn't really any way I can add support for them.

[2017-08-01 14:54] #705 closed

[2017-08-02 03:50] Dagda52 opened #706 "Dota 2 effects not working 0.6.1 dev2"
### What are you experiencing an issue with?

- [x] Aurora
- [x] Aurora supported game, (Dota 2)
- [ ] Aurora Wrapper
- [x] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [ ] Visual b

[2017-08-02 04:44] Kisco opened #707 "Add Windows Theme as a updating Color (To Work with Wallpaper Engine)"
### Something to add or maybe I haven't found it
I have been messing around with wallpaper engine and I have created a profile that I can switch easily but also changes the windows theme on my computer, I was wondering if it would be possible to use "Solid Fill Color Layer" as a way to show the windows theme color on my keyboard. For a quick example if my theme is a orange then the keyboard would

[2017-08-02 10:28] jdubnz commented on #683
I would be super down for that. I've put far too many hours into that game

[2017-08-03 02:37] MobsterDolphin opened #709 "How do I uninstall Aurora???? I need help asap!"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-08-03 03:08] Kisco commented on #709
why its the best program ever, give a reason and then I will help you.

[2017-08-03 03:14] MobsterDolphin commented on #709
reason 1: it crashes BF1
reason 2: I got a razor keyboard so I no longer need it
reason 3: I dont want it

[2017-08-03 03:25] Kisco commented on #709
alright so there is two versions depending on how long you have had it. Im going to start off with the first one and guess you have the same one. Head over to "C:\Program Files\Aurora" or the location that you installed it and scroll all the way down to the bottom for "unins000.exe" then follow the steps given.

[2017-08-03 04:26] Kisco commented on #681
Just to add more info: I was messing around with it and the only think that worked was health and ammo (but i was only using the given preview messing around with sliders.)

[2017-08-03 05:15] Kisco opened #710 "Add a mouse? - G502 (with images made)"
I made this mouse image which is the g502, Link to the image is here - http://imgur.com/a/Va354

Note: If you would want anything fixed up just ask. No feelings if you already made one I just made this in my free time.

Edit: Updated link

[2017-08-03 07:52] simon-wh commented on #709
@MobsterDolphin You shouldn't need to actually uninstall it as long as it isn't actually running, which you can stop by disabling the start with windows option in Aurora. If you really want to uninstall it delete the folder C:\Program Files\Aurora if you installed it through the web installer or whatever folder you installed it into.

[2017-08-03 07:52] #709 closed

[2017-08-03 08:00] #342 closed

[2017-08-03 08:16] Kisco commented on #710
@simon-wh Forgot to add the DPI lights! Will fix up tomorrow (3 am right now)

[2017-08-03 09:23] simon-wh commented on #710
@Kisco Okay, thanks.

[2017-08-03 16:36] Kisco commented on #710
Updated! @simon-wh - http://imgur.com/a/Va354

[2017-08-03 16:37] Kisco commented on #710
Fixed some edges, added dpi lighting and also corrected the outside color to be darker the the lines inside.

[2017-08-03 17:00] #706 closed

[2017-08-03 17:16] simon-wh commented on #710
Do you have photoshop files for them?

[2017-08-03 17:20] #277 closed

[2017-08-03 18:51] Kisco commented on #710
paint.net lol :V

[2017-08-03 18:51] Kisco commented on #710
i could transfer the layers to photoshop if you would like

[2017-08-03 18:55] simon-wh commented on #710
I've got paint.net installed, so you can throw over the paint.net files and I'll work with them

[2017-08-03 19:09] Kisco commented on #710
alright - https://mega.nz/#!iYYBVSIB!zE8Py0X2hYzogi-uMYjqCk_VjJuS4U5wx8enioIbZRw (with images and layers)

[2017-08-03 20:03] mr22fabulous opened #711 "suggestion: controls for media / caps lock, num lock, scroll lock g810"
The addition of customisable lighting options for the media control lights and lock key lights on the logitech g810 would be a great addition to aurora, allowing lighting profiles to be spread across the whole keyboard.

[2017-08-03 22:11] diogotr7 commented on #711
I don't think the logitech sdk allows for that :/

[2017-08-04 09:32] simon-wh commented on #711
As far as I'm aware and as @diogotr7 mentioned it isn't possible to control those lights through he SDK. Sorry.

[2017-08-04 09:32] #711 closed

[2017-08-04 09:32] simon-wh commented on #678
@Printb2 Any updates?

[2017-08-04 09:56] mr22fabulous commented on #711
Ah ok, I wouldn't know that myself since I'm not experienced with that kind
of stuff. Thanks for the reply though :)

On 3 Aug 2017 11:11 pm, "diogotr7" <notifications@github.com> wrote:

[2017-08-04 18:53] icexuick commented on #663
Hope someone finds the solution, would be neat!

[2017-08-04 21:02] GreenTurtwig opened #712 "How do you import external modules for use in a Python script?"
Never used IronPython before and so a bit stuck with importing an external module for use in a Python script. Done a lot of Googling, but no luck so far.
Any help would be appreciated. 🐈

[2017-08-04 21:28] simon-wh commented on #712
This isn't exactly an issue with the project. I assume you're asking about external python modules, in which case you should probably ask over at the IronPython side of things. It seems like a common enough kind of question though so you should be able to find an answer.

[2017-08-04 21:28] #712 closed

[2017-08-04 21:42] GreenTurtwig commented on #712
I've scoured through quite a few searches to no avail unfortunately. Which is what initially lead me to submit an issue in the first place.
I'll have another search session tommorow and if I have any luck, post the results here for anybody with the same issue.

[2017-08-05 12:25] Gtasian commented on #681
https://pastebin.com/UKPCqmg0

I tried two setups; the first with mods I normally play with and the latest setting with just BLT and GSI checked in lua mods option.

[2017-08-05 16:43] GreenTurtwig commented on #712
Right, once again did a lot of searching and nothing I've tried has worked, once again. At this point I'm ready to give up with the script (and Aurora) and figure something else out, hopefully it'll actually work out. :-/

[2017-08-05 21:46] hsnabn opened #713 "Cooler Master Masterkeys Pro L stops working with Aurora when preferred mouse is selected."
### What are you experiencing an issue with?

- [x] Aurora
- [x] Aurora supported device, Cooler Master Masterkeys Pro L and Logitech G Pro (I know, not officially supported, but it worked fine on previous version)

### What kind of an issue is it?

- [x] Visual bug
- [x] Aurora Lighting issue

### Expected behavior:
Masterkeys Pro L working as usual alongside Logitech G Pro mouse.

### Actual beh

[2017-08-05 22:03] Running-Banana opened #714 "Only let Aurora run while playing games (Suggestion)"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-08-05 22:04] simon-wh commented on #714
This is possible if you disable the desktop profile (and have the option enabled in settings if you're using the latest dev release.)

[2017-08-05 22:04] #714 closed

[2017-08-05 22:07] Running-Banana commented on #714
Whenever I try to launch the latest dev release I get a error that GameStateListener couldn't start.

[2017-08-05 22:22] simon-wh commented on #714
You don't need to use the Dev release to use the feature. It is only that if you're using the Dev release that the option must be enabled for it to work on the Dev release. Could you open another issue for the error you are receiving.

[2017-08-06 05:28] thu2468 opened #715 "League of legends Lightning not working"
### What are you experiencing an issue with?

- [x] Aurora
- [x] Aurora supported game, (Fill in the game)
- [x] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [x] Performance problems
- [x

[2017-08-06 11:07] #713 closed

[2017-08-06 11:07] simon-wh commented on #713
The issue has been fixed and will be included in the next dev release.

[2017-08-06 11:18] simon-wh commented on #715
Can you try using the latest pre-release as there were some issues with games such as LoL before the latest version? The image you linked doesn't mean anything as there isn't supposed to be any lighting displayed in the LoL preview because we don't know what the lighting information from the game is at that point.

[2017-08-06 11:20] simon-wh commented on #681
@Gtasian GSI requires BeardLib to function. From your log it shows that you have BeardLib disabled which results in GSI erroring out.

[2017-08-06 11:30] #675 closed

[2017-08-06 11:31] simon-wh commented on #661
@ThallesAdorno Any updates on this?

[2017-08-06 11:31] simon-wh commented on #659
Duplicate of #504

[2017-08-06 11:31] #659 closed

[2017-08-06 11:33] simon-wh commented on #650
@Staibdude Could you try the [latest development release](https://github.com/antonpup/Aurora/releases) to see if it resolves your issue? Make sure to reapply the wrapper after updating.

[2017-08-06 11:40] VoronFX opened #716 "Script's variables of int type not properly deserialized"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [x] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-08-06 12:46] simon-wh commented on #716
The issue has been sorted, thanks for letting me know!

[2017-08-06 12:46] #716 closed

[2017-08-06 15:12] GreenTurtwig commented on #712
Ended up scrapping IronPython and just made the script in C#, everything works perfectly fine now. 👍

[2017-08-07 00:15] Dagda52 opened #717 "Option to enable Diablo 3/Homefront for corsair devices when aurora desktop is enabled"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [x] Aurora Profile
- [x] Aurora supported device, (Strafe. 65, K70, K95)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [x] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [ ] Visua

[2017-08-07 00:24] simon-wh commented on #717
You can achieve this through using the excluded processes option, I'm not sure if the public release has it working in the same way. But the dev branch has it so that it will act in the same way as disabling desktop except when one of the added processes is in the foreground.

[2017-08-07 00:24] #717 closed

[2017-08-07 00:28] Dagda52 commented on #717
oh ok thanks

[2017-08-07 01:58] thu2468 commented on #715
So you want me to try running league with Aurora v0.6.1-dev2?

[2017-08-07 01:59] simon-wh commented on #715
Yes

[2017-08-07 02:27] G3rtz commented on #243
Hi,

so any updates on this?

[2017-08-07 03:03] Sekeye opened #718 "[ADD] Keyboard Redragon Indrah"
### What you suggest?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)
- [X] Add support for Redragon Keyboard

### Keyboard:
Redragon Indrah

### Please include any logs,

[2017-08-07 03:38] Dagda52 commented on #717
Wait Wait, i think this isn`t working either look at this pictures with diable 3 in background http://imgur.com/xUkm0J9, i don`t know if i did it right, but these are my steps.

1. Add Diablo III64.exe process in Excluded processes
2. Open Diablo III Game
3, Aurora Desktop Effects Still persists
4. Exit diablo, Close aurora
4. Open aurora again, Add Aurora process to see if this work.
5. Open DIab

[2017-08-07 03:40] ThallesAdorno commented on #661
I'm terribly sorry for not answering before, my classes are back and I'm not playing OW right now (usually only one game at a time). I plan to buy an RGB keyboard (and ditch my 5 dolars one) until the end of the year. When it happens I will update you about it (I'll do a new thread so you can rest about this one). Thank you for your support, it really surprised me that you even asked again, when I

[2017-08-07 04:14] Dagda52 opened #719 "Excluding Processess not working as intended"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-08-07 05:02] ersan commented on #644
@brainbug89 Any chance you could look into the only one earcup lighting up on the Arctis 5 issue?  I can help test and can make code changes and recompile as needed, I just don't really know where to start.

[2017-08-07 10:49] stbatuhan commented on #662
Well that could be great but there must be a control for windows sounds. I wanted to share that point for implementing it. Maybe an if control for longer 3 sec or maybe a control for sound source

[2017-08-07 12:51] simon-wh commented on #681
@Gtasian Yeah, I have made those changes in the dev branch so it is clear that BeardLib is required.

[2017-08-07 12:51] #681 closed

[2017-08-07 13:02] simon-wh commented on #718
I cannot find any SDK for that keyboard, so there isn't anything I can do to support it.

[2017-08-07 13:02] #718 closed

[2017-08-07 13:04] simon-wh commented on #719
As I said in #717 I wasn't aware if the public version worked in the same way. But the dev branch definitely has it working as I mentioned in that issue.

[2017-08-07 13:04] #719 closed

[2017-08-07 14:17] simon-wh commented on #661
@ThallesAdorno Thank you! I hope that the suggestion I made will resolve the issue you were experiencing when you're can test it.

[2017-08-07 14:17] #661 closed

[2017-08-07 15:14] Dagda52 commented on #719
@simon-wh I mentioned in the versions of aurora im experiencing the issue is 0.6.0b and above, meaning i tested dev branchs too and they are not working either.

[2017-08-07 15:20] simon-wh commented on #719
There hasn't been a Dev release that contains the changes for it yet.

[2017-08-07 15:43] Dagda52 commented on #719
@simon-wh I'm a little confused, You mean as an internal dev branch that hasn't released yet?, because when you said "But the dev branch definitely has it working" i really thought as in 0.6.1 dev1 and 2 at first, so in that case my apologies, since i was testing that feature too in 0.6.1 dev1 and 2 with other apps and games looks like this http://imgur.com/a/hTlXo, in the case of MEA, it should l

[2017-08-07 16:07] simon-wh commented on #719
When I refer to the dev branch I'm talking about the dev branch I'm talking about [this](https://github.com/antonpup/Aurora/tree/dev), the actual code changes that if you want to use them you must build it yourself until a release has been made from the branch. As you can see on the [releases page](https://github.com/antonpup/Aurora/releases) there have been commits to the dev branch since the las

[2017-08-07 16:26] Dagda52 commented on #719
@simon-wh oh im gonna try those then, thanks for the link, and thanks for all the fast answers :)

[2017-08-07 16:27] simon-wh commented on #719
@Dagda52 When I was talking about the release and the commits since it. The changes are in a commit that is after that release, the change isn't in that version.

[2017-08-07 19:31] argente69 opened #720 "Add G810 Media, caps lock, num lock, scroll lock, light on/off and gaming buttons"
Hello developers, adding these top buttons of the G810 would make the keyboard appear a way better, it always shines white when Aurora is on, and they are RGB

### What kind of an issue is it?
- [ ] Crash
- [ ] Performance problems
- [ ] Visual bug
- [ ] Localization issue
- [x] Enhancement suggestion
- [ ] Device issue
- [ ] Other, (Fill in another type of issue here)

Here are the highlighted ke

[2017-08-07 20:00] simon-wh commented on #720
Duplicate of #711 see explanation there.

[2017-08-07 20:00] #720 closed

[2017-08-07 20:04] argente69 commented on #711
ah, ok tnx, I didn't know that

[2017-08-07 20:24] argente69 commented on #720
but there's something at the LED Library:
        G_1                     = 0xFFF1,
        G_2                     = 0xFFF2,
        G_3                     = 0xFFF3,
        G_4                     = 0xFFF4,
        G_5                     = 0xFFF5,
        G_6                     = 0xFFF6,
        G_7                     = 0xFFF7,
        G_8                     = 0xFFF8,
        G_9

[2017-08-07 20:39] simon-wh commented on #720
Yes? They're the G keys and the logo and badge leds

[2017-08-07 20:42] argente69 commented on #720
oh, i though it was the buttons because my keyboard doesn't have them, sorry

[2017-08-07 23:19] mohamed-me1204026 opened #721 "Smite Support"
Hello, can u add functionality for smite, i see lol and dota 2 but not smite which is the 3rd of the big 3 mobas. thank you

[2017-08-08 02:45] G3rtz commented on #715
i have the same problem, with the dev2 version.

[2017-08-08 07:36] slupton89 commented on #550
Same problem with it not working after patching. It doesn't seem like the patch button does anything.

[2017-08-08 17:08] Dagda52 commented on #721
I think they can't since that game uses easy anticheat, and this aurora software uses some hacks to read the memory of the game to get the game stats, and with smite that's imposible since that anti-cheat engine is so intrusive it will ban people even just for having some unsigned drivers.

[2017-08-08 17:42] simon-wh commented on #721
@Dagda52 The only game support that does memory reading is Rocket League (which is why it has to be updated all the time) and Borderlands 2. Most games either use GSI or a wrapper for Logitech/Razer/LightFX so the native lighting is sent to Aurora instead of the normal software. If there is anything like GSI or modding for Smite then I can probably support it, otherwise, I can't do much.

[2017-08-08 19:15] TwentyFour-24 opened #722 "Additional Game Support: PLAYERUNKNOWN'S BATTLEGROUNDS"
### What are you experiencing an issue with?

- [x] Aurora supported game, (PLAYERUNKNOWN'S BATTLEGROUNDS)

### What kind of an issue is it?

- [x] Enhancement suggestion

Hello there,
are there any plans, or moreover is there any chance to get Aurora working with PLAYERUNKNOWN'S BATTLEGROUNDS (PUBG) in the future?

[2017-08-08 19:22] simon-wh commented on #722
Duplicate of #555

[2017-08-08 19:22] #722 closed

[2017-08-09 11:37] MCCrafterTV opened #723 "Minecraft"
Would be cool if you could add support for one of the biggest game ever. Minecraft :dagger:

[2017-08-09 11:39] simon-wh commented on #723
Duplicate of #334

[2017-08-09 11:39] #723 closed

[2017-08-09 20:08] NikWillOrStuff opened #724 "Fails to initialize CUE SDK"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [x] Aurora supported device, (Corsair K95 RGB, CUE 1.16.42)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [ ] Visual bug
- [ ]

[2017-08-09 21:55] simon-wh commented on #724
Could you update CUE? Because currently CUE is on version 2 and the source of your issues might be due to your CUE version being too old.

[2017-08-09 22:18] NikWillOrStuff commented on #724
I had it working with this version of CUE before and I prefer it because of it's better control over macros etc. also the prompts for enabling the CUE SDK in aurora are still CUE 1 so I thought it was better supported. but I just uninstalled CUE 1 and installed CUE 2 and it still didn't work. in fact the log looks identical https://pastebin.com/8Qcn2TWa

[2017-08-09 22:31] Ulym38 opened #725 "Disabling Desktop mode blocks LGS settings"
I'm using Aurora 0.6.1-dev2 with a Logitech G410 keyboard. When I disable desktop mode in Aurora, my LGS settings doesn't show up on my keyboard (The keyboard stays black).
So, I decide to put the "Show default lightning(CUE, LGS, etc) when Desktop is disabled" option on.

However, when I enable this option, Aurora custom profiles don't work anymore.
I tried this on Skyrim (custom made) and Border

[2017-08-10 09:17] jdubnz opened #726 "Profile Switcher Enhancement"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [x] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-08-10 11:01] #616 closed

[2017-08-10 11:06] simon-wh commented on #724
@NikWillOrStuff Is the SDK definitely enabled when you're on CUE 2? If it is, I can't think of any other reason why it wouldn't work, you can see over at [this issue](https://github.com/DarthAffe/CUE.NET/issues/55) on CUE.NET that the lib developer doesn't know either as this seems like more of a CUE.NET issue rather than Aurora. However, I'm going to try and setup a debug version of CUE.NET so I

[2017-08-10 11:20] simon-wh commented on #725
I just tried to replicate your issue using 0.6.1-dev2 and the current dev branch and couldn't replicate it on either using Borderlands 2 and Spotify as a custom profile. Could you provide your latest log file on the day where you've replicated this issue? I have a feeling it may be an issue with re-initializing Logitech integration.

[2017-08-10 11:25] simon-wh commented on #646
I think it must be a permissions issue that HOTS/Planetside 2 is preventing Aurora from reading it as the foreground process. I'll see if I can try and find a workaround.

[2017-08-10 11:29] simon-wh commented on #726
I'm not exactly sure what you mean. Do you mean that you want it so that when you've got your media profile enabled in LGS that the Aurora profile changes? Because I'm not aware of any way to see what profile LGS has active. If that is what you mean, does the media profile in LGS trigger on certain conditions, if so, on what conditions?

[2017-08-10 11:53] Ulym38 commented on #725
Here is my log file : https://pastebin.com/zTtSc14J
To simplify the issue, the problem I found is : when I disable desktop mode in Aurora, my keyboard doesn't use LGS default profile.
And the "Show default lightning(CUE, LGS, etc) when Desktop is disabled" option disables every Aurora custom profile.

[2017-08-10 18:52] NikWillOrStuff commented on #724
yeah, I made sure the SDK was enabled for CUE 1 and 2. I'd be happy to do any tests you want :)

[2017-08-11 07:49] VoronFX opened #727 "Debugger timed out issue while debugging Aurora"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [x] Other, (Debugging Aurora)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [ ] Visual b

[2017-08-11 10:05] simon-wh commented on #725
From your log, it shows that Logitech integration is being disabled and enabled properly, but for some reason, it isn't working. With "custom profiles don't work" what do you see on your keyboard and in Aurora (UI and the Debug window)?

[2017-08-11 10:15] simon-wh commented on #727
The issue only appeared after I added the Mutex.WaitOne check to the Main method and when I'm debugging I just comment that out because if it is active I get the issue the entire time.

[2017-08-11 10:37] Ulym38 commented on #725
I noticed that the issue occured because I was using "Foreground app scan" instead of the default "Windows event" in the "Application Detection Method" setting...
When I switch back to the default option, Aurora works perfectly fine.

I switched to this mode because Borderlands 2 profile was not reading life and shield data in a multiplayer game, however, it caused more problems than expected.

To

[2017-08-11 10:57] VoronFX commented on #727
I believe the problem is not in mutex. Or maybe mutex also causes it, or just making it worse.
In dev branch I am using now, I can't see any mutex and the problem still exists. The sample project also has no kind of mutex and still causes problem.
Maybe it's just bad idea to do some initialization before/simultaneously with initializing main application.
Why not init everything in main form on loa

[2017-08-11 11:16] simon-wh commented on #727
In my testing, it hasn't even reached the point where it is creating a new instance of the Application by the time the debugger dies. I think the example you've got is another example of the issue and that Mutex could be in the same position as the Application in our case.

[2017-08-11 11:31] simon-wh commented on #727
Having moved the instance creation for the Logger class to a method that is called straight after the call of Mutex.WaitOne I've yet to have the issue show again after starting the debugger multiple times. Anytime I got the issue before it always showed a thread at the Debug.WriteLine and the primary at the start of the Program.Main method. I'm pretty confident that our situation is caused by the

[2017-08-11 11:32] #727 closed

[2017-08-11 14:21] KanyQan opened #728 "League of Legends profile is not working."
I have Logitech G410, installed Aurora day ago and i noticed that my League of Legends profile isn't working.

I already did this:
![1](https://user-images.githubusercontent.com/30931142/29217107-0be0bfb8-7eb1-11e7-9389-9926d926fe85.PNG)
![2](https://user-images.githubusercontent.com/30931142/29217113-0dcb28c2-7eb1-11e7-8078-2afe8f1089d3.PNG)
![3](https://user-images.githubusercontent.com/30931142

[2017-08-11 14:58] th3an7 opened #730 "Test for updated Rocket League pointers"
Hi everyone
First of all - thank you for this awesome project, it works really well for me now when you introduced support for SteelSeries products.

Anyway, I am writing this because Rocket League pointers were not update for a long time - that's why I've serach the Internet for tutorials how can I do this myself and probably help you with updating them.

I think I've found correct pointers for b

[2017-08-11 16:28] simon-wh commented on #730
You can test using the Debug Window in Aurora as it will show you how the lighting will be displayed on the keyboard. If you have multiple monitors you can throw it on another while running Rocket League, or you can put it beside it when running in windowed. For your question, you should be able to use a gradient layer which goes from the colour with 0 alpha to the colour with 255 alpha, or you ca

[2017-08-11 16:28] #730 closed

[2017-08-11 16:32] simon-wh commented on #728
From the first image, the lighting won't display until you're in-game, there won't be any preview because the lighting information is from the game. I see that there is LogitechLed.dll in the LoL folder. Can you try changing the name of that to LogitechLed.dll.bak to see if it resolves the issue?

[2017-08-11 16:34] th3an7 commented on #730
Oh nice, thanks :)

I've found it out how can I test it and it changes as it should. I've also found pointers for respectively teams score which are also working in Aurora and for my mice :)

I don't know how can I find which team I am in tho... any advice? Some initial value like 1 for Orange, 2 for Blue etc.?

[2017-08-11 16:36] simon-wh commented on #607
@olokos Are you talking about PD2 as well? If so, can you and @EvilDobermann try the solution mentioned at #681

[2017-08-11 16:38] simon-wh commented on #725
Well, thanks for telling me about that because it seems the Foreground app scan is broken. I'm going to close this issue because it is resolved, however, I'm going to go fix the Foreground app scan.

[2017-08-11 16:38] #725 closed

[2017-08-11 16:40] simon-wh commented on #730
I'm not sure, I've never updated the RL pointers before, I know how to do the boost amount, but I'm not sure how you could find what team you're in. You could try changing teams in a private match and see what values change?

[2017-08-11 16:43] th3an7 commented on #730
Yeah, that's what I'm doing...
I'll look further - maybe I will find something :)

On Fri, Aug 11, 2017 at 6:40 PM Simon W <notifications@github.com> wrote:

[2017-08-11 16:44] KanyQan commented on #728
Thanks for quick anwser !
Sorry, changing the name of LogitechLed.dll didnt help at all, but at the start of the game keyboard flash green few times ( blue Q W E R only ), after that there is still nothing, just black.
Is there a possiblity that where i was trying to patch LightFX i accidently broke something ? Maybe i should reinstall the game ? Or Aurora ?

[2017-08-11 16:45] simon-wh commented on #715
@thu2468 @G3rtz Could you try the suggestion I made in #728 if it applies to you as well?

[2017-08-11 16:46] simon-wh commented on #279
Could you look at issue #715 and #728 please? Closing this issue so follow up on those.

[2017-08-11 16:46] #279 closed

[2017-08-11 16:47] olokos commented on #607
I'm talking about CSGO

[2017-08-11 16:49] simon-wh commented on #607
@olokos Oh, sorry, I misread your comment. Did you definitely apply the GSI patch? If so could you try again and post your log file if it still doesn't work?

[2017-08-11 16:50] simon-wh commented on #728
@KanyQan Could you try disabling LightFX in the config, removing the LightFX.dll and patch the Logitech wrapper in Aurora settings?

[2017-08-11 16:57] KanyQan commented on #728
Now, when im enable League profile in Aurora, keyboard is green ( with blue Q W E R ), but still black in game.

[2017-08-11 17:04] simon-wh commented on #728
@KanyQan The blue QWER is probably the Color Zones for the League profile. I'm not sure where the green background is, do you have any layers added?

[2017-08-11 17:05] KanyQan commented on #728
No, i didnt add any layers.

[2017-08-11 17:05] simon-wh commented on #728
Could you take a screenshot of the profile in Aurora then? Could you post your latest log file as well?

[2017-08-11 17:09] KanyQan commented on #728
![6](https://user-images.githubusercontent.com/30931142/29223845-49b2ffc4-7ec8-11e7-9278-2a1b165581aa.PNG)

[2017_11_08.txt](https://github.com/antonpup/Aurora/files/1218548/2017_11_08.txt)

[2017-08-11 17:17] simon-wh commented on #728
Could you try the [latest development release](https://github.com/antonpup/Aurora/releases) and repatch the wrapper and post the log after you've tried again?

[2017-08-11 17:33] KanyQan commented on #728
[2017_11_08.txt](https://github.com/antonpup/Aurora/files/1218617/2017_11_08.txt)

I tried latest development release, repatch the wrapper, keyboard was black everytime, after turning on LightFX in config, keyboard is green ( with blue Q W E R ) in game.

[2017-08-11 18:17] olokos commented on #607
Where's GSI patch? I will try it but I never heard of it.

[2017-08-11 18:19] simon-wh commented on #607
@olokos It's in the CSGO profile overview

[2017-08-12 01:14] G3rtz commented on #715
Well, my Problem was the config file. After adding the lightfx parameter it works. :) Thanks for your attention. :)

[2017-08-12 01:36] olokos commented on #607
can you direct me where it is? I'm not going to lie, I'm quite lost in this interface

[2017-08-12 08:39] simon-wh commented on #607
![](https://puu.sh/x87nn/a8967cdc93.png)

You need to click "Show Profile Overview/Options" as shown, then click "Patch GSI"

[2017-08-12 08:44] simon-wh commented on #660
@FrancoCJ Could you get the information I asked for above, please? Closing for now

[2017-08-12 08:44] #660 closed

[2017-08-12 08:45] #678 closed

[2017-08-12 08:47] #597 closed

[2017-08-12 08:49] simon-wh commented on #597
I think this seems to a problem with the Razer SDK and/or the device, not Aurora.

[2017-08-12 08:52] simon-wh commented on #541
@Zeeanq Could you try updating lgs and trying the latest development release as mentioned before? Closing for now.

[2017-08-12 08:52] #541 closed

[2017-08-12 08:54] simon-wh commented on #512
@mark6ikx Could you try the [latest development release](https://github.com/antonpup/Aurora/releases) to see if it makes a difference to your issues?

[2017-08-12 08:54] #524 closed

[2017-08-12 08:56] simon-wh commented on #511
@kervin20 Can you make sure you patched gsi in the Dota 2 overview? Also, you could try the [latest development release](https://github.com/antonpup/Aurora/releases) to see if it makes a difference.

[2017-08-12 08:58] simon-wh commented on #481
I'm going to use this issue for proper mousepad lighting support (i.e having an extra option to select the mousepad)

[2017-08-12 08:58] simon-wh commented on #472
@eliyameri Can you try what was mentioned above?

[2017-08-13 00:36] th3an7 commented on #728
Try beta v0.6.0-dev2... I had the same problem in CSGO on latest dev but that one is working just fine.

[2017-08-13 05:31] VoronFX opened #733 ""Caterpillar" effect when drawing moving objects."
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [x

[2017-08-13 06:05] iimma opened #734 "(0.6.1 dev2) - Unable to use the original software and Aurora at the same time"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [x] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-08-13 07:08] mmateusu opened #735 "G810 Mediakeys and "locks" leds."
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [X] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-08-13 11:06] simon-wh commented on #734
In version v0.6.1-dev2 you need to enable the option "Show default lighting(CUE, LGS, etc) when desktop is disabled "

[2017-08-13 11:06] #734 closed

[2017-08-13 11:07] simon-wh commented on #735
Duplicate of #711

[2017-08-13 11:07] #735 closed

[2017-08-13 13:39] simon-wh commented on #733
Are you able to create a demonstration of the possible effects in Aurora? I feel as though the caterpillar effect you describe might not even be noticeable. Personally, smoothness is my number 1, providing the drawbacks are not super noticeable.

[2017-08-13 17:57] VoronFX commented on #733
Crap, while creating a demo I've realized that it was my fault.
Actually missing some of the rounding result in my copy has this effect.
Also I've just experimented and created the hybrid version that has no caterpillar with width but only inside the object, which makes movement smother by trading the technical accuracy of the gradient.

Anyway at decent moving speed any of those drawing algs are

[2017-08-13 18:44] Spazoman commented on #348
Hi, sorry I've not been able to get back to this post until now. Yes, I have tried installing the razed wrapper, and it didn't work. However I'm not sure if I did everything correctly or if I was missing something. I've actually tried installing the wrappers on other games as well, and with some games it kind of worked, but mostly it had no effect

[2017-08-13 18:47] Spazoman commented on #348
I should also add that the other games I tried to get working did in fact have lightning effects, and I wasn't just throwing it into a random game expecting my keyboard to flash colors.

[2017-08-13 19:27] simon-wh commented on #348
@Spazoman Are you applying it to the game directory that contains the executable for the game?

[2017-08-13 20:56] caw1 commented on #546
are there any News about the implementing of the Asus Aura SDK?

[2017-08-13 20:59] #733 closed

[2017-08-13 21:11] diogotr7 commented on #730
Hey @th3an7 I wasn't able to get the boost values to work after updating the pointer and offsets on the rocketleague.json file. When the game is starting up the background color changes briefly to orange but nothing else happens.

I'm using Aurora 0.6.1-dev2, G810 keyboard and G502 mouse.

Afaik rocket league hasn't updated since this issue was created.

[2017-08-13 21:33] simon-wh commented on #546
@caw1 No, the plan, at least for me is to look at it when it comes to 0.7.0. Which won't be started until after v0.6.1 is stable.

[2017-08-13 21:33] iimma commented on #734
Great, thanks, perfect build so.

[2017-08-13 22:04] th3an7 commented on #730
@diogotr7 Yeah, I know... It sometimes work, sometimes not... I am certainly sure that the boost values are right. The one thing I am not sure is that they could be changing when you're playing online. I've tested them offline in exhibition match and they were working most of the times...

Anyway, I'll post a new values for team scores here, so I would appreciate if you could test them.

[2017-08-13 22:13] diogotr7 commented on #730
I'm sorry I didn't mention it earlier, but the team scores are working perfectly, at least in competitive doubles. It's the boost I can't get to work.

[2017-08-13 22:17] th3an7 commented on #730
Are they working for both teams? Sometimes I got troubles for getting blue
team score... The orange was always OK.

Will look on the boost again :P

On Mon, Aug 14, 2017, 00:13 diogotr7 <notifications@github.com> wrote:

[2017-08-13 22:18] Spazoman commented on #348
Yes that is where I am putting the file. I've tried both 64bit and 32bit just in case, but still no results. I'm not at my computer at the moment but I can take another look at what I tried to do when I can.

[2017-08-13 22:31] diogotr7 commented on #730
The more matches I play, the weirder it gets. One match it worked 100% perfect. The second one it stayed blue pretty much the entire match and changed to fully orange randomly.

[2017-08-13 22:33] th3an7 commented on #730
That what I was talking about... Will post updated pointers for blue team
and hopefully I'll find correct boost pointers again :P

On Mon, Aug 14, 2017, 00:31 diogotr7 <notifications@github.com> wrote:

[2017-08-14 01:41] th3an7 commented on #730
@diogotr7 can you try these ones?

https://github.com/th3an7/Aurora/commit/c5cf4977892d7631ba96f1ec5fbe3ec653e89858#diff-776b581251c2e619d7c68bc6dcff2dbb

The thing is, those values are changed everytime you join a new server. They are working when you're playing your first game after game start, but when you find another one - everything gets f***** up...
Temporary solution is to close the game a

[2017-08-14 17:11] TomSputz commented on #710
Just curious - any progress with this?

[2017-08-14 17:22] simon-wh commented on #710
@TomSputz I haven't had time to get around to putting this in yet.

[2017-08-14 18:11] busaku commented on #185
Hey, in 0.6.0b - the problem isnt fixed or?..
Rocket League still did not working :(

[2017-08-14 20:10] caw1 commented on #546
@simon-wh , thats the right way. im happy to hear that there are some further plans in your mind :)

[2017-08-14 20:13] busaku opened #736 "Did not recognized active application (Third party Game)"
### What are you experiencing an issue with?
- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?
- [ ] Crash
- [ ] Performance problems
- [ ]

[2017-08-14 20:53] simon-wh commented on #736
Can you post the log file? You can open the folder through the settings in Aurora. Also, what is the full name of the versions you tried? Because there are multiple 6.0's and 6.0 v2's

[2017-08-14 21:37] nichubbard opened #737 "Shortcut Assistant Layer Highlights Numpad Keys"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [x

[2017-08-14 22:14] #737 closed

[2017-08-14 22:14] simon-wh commented on #737
I've sorted it and it will be available in the next release

[2017-08-15 04:56] Dagda52 commented on #724
@simon-wh now I got this error too after uninstalling stable version and trying 0.6.1 dev 2, only works if pc is restarted, but fails to re hook if i close aurora and try open it again or just open another third party software that uses cue sdk here is my log
https://pastebin.com/n30kYJc9

[2017-08-15 06:39] MrReeds commented on #445
+1

[2017-08-15 07:18] busaku commented on #736
beta v0.6.1-dev2
i have tried to go back to official version, but the wont start after i started the 0.6.1-dev2 one time.

Here is my log:
https://pastebin.com/CxN7RNR6

[2017-08-15 07:37] busaku commented on #730
new pointers did not working - i got a blue number pad and the rest is orange ;)
boost did not track too :(

[2017-08-15 15:10] simon-wh commented on #736
To go back you need to delete %appdata%/Aurora/Config.json

[2017-08-15 15:19] TomSputz commented on #710
@simon-wh Of course :) It's gotta be a lot of work put into this

I've just recently got the mouse, and have found out it actually has 2 lighting zones that aren't ordinarily controllable. I don't know if you have access to them through the logitech SDK, but a heads up

[2017-08-15 15:26] diogotr7 commented on #710
@TomSputz the dpi lights are always the same color as the main G logo. To light them all up you have to create 2 dpi profiles lower than you currently use the mouse ( as long as you don't actually use the sniper button, of course)

[2017-08-15 15:34] TomSputz commented on #710
@diogotr7 Yes - that was the point I was making - you *can* actually control those individually - https://www.reddit.com/r/G502MasterRace/comments/6t0is6/how_to_overwrite_the_internal_g502_memory_with/ - Though I'm not sure the SDK can control that (I have tried to separate them, it works)

[2017-08-15 17:30] busaku commented on #736
Now iam back to v0.6.0b - and diablo works fine, thx :)
but Playerunknowns battlegrounds are not recognized :(

[2017-08-15 17:32] simon-wh commented on #736
The issue should be sorted through the PR #738, the changes will be included in the next release.

[2017-08-15 17:32] #736 closed

[2017-08-15 17:49] busaku commented on #736
Hey, i have the reason why, it dont work:
If i start the game over steam (Shortcut on Desktop) it did not worked.

But if is start the Game.exe directly Aurora leave the Desktop-Mode and switch in my PUBG directly!
- But i cant play without steam (PUBG need Steam :( )

So.. maybe i need a nother "exe"-path or i need other setups for this game?

[2017-08-15 17:53] simon-wh commented on #736
@busaku I had it detecting properly when running PUBG as admin through steam fine with the changes I referred to from #738

[2017-08-15 17:57] busaku commented on #736
How did u start it over steam as an administrator?
If i say TslGame -> RightClick -> Setup -> Compatibility -> Run as Administrator

It did not detected from aurora and it did not work . Got an error ingame: "Failed to initialize STEAM"

Did u use another method to run it as an admin?

[2017-08-15 17:58] simon-wh commented on #736
I set it to run as admin in compatibility and launched it through steam

[2017-08-15 18:00] busaku commented on #736
yh... then i got bouth errors.. no aurora, no game :D
did u use TslGame.exe or TslGame_BE ?

[2017-08-15 18:04] simon-wh commented on #736
TslGame.exe

[2017-08-15 18:13] busaku commented on #736
yh, everything i try: I got the same error.. No Steam, No Aurora ;)
But in the other thread you say u fix it in the next version. so iam looking forward to it ;)

thanks in advance for your help

[2017-08-15 18:14] simon-wh commented on #736
The running as admin was just to demonstrate that the changes in the pr worked, you do not need to run it as admin.

[2017-08-15 18:15] busaku commented on #736
ah, okay :)

thank u - and nicework - i love aurora :)

[2017-08-15 18:41] TomSputz commented on #710
@Kisco How did you make the pictures by the way? They're really nice

[2017-08-15 20:45] slupton89 opened #739 "Crash on launch"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [x] Crash
- [ ] Performance problems
- [

[2017-08-15 21:04] TomSputz commented on #710
Okay I got into contact with the guys developing the SDK, and sadly you cannot control the lighting individually as of right now. Nevermind

[2017-08-16 01:31] mastamike911 commented on #64
Has anyone been able to make the WoW G910 work completely with Aurora? It seems like Aurora needs whatever application that is controlling the LEDs to be in the foreground, but that causes a problem when you need WoW G910 to be running AND WoW itself. The WoW G910 program can control the LEDs on my keyboard just fine when its window is active, but once I alt+tab into WoW, Aurora sets the LEDs back

[2017-08-16 01:58] simon-wh commented on #724
@Dagda52 From your log it shows that the launch directory is at one point is SysWOW64 and then the CUE program files directory. The launch directory needs to be the directory that Aurora is in for CUE.NET to find the sdk dlls, how are you launching aurora?

[2017-08-16 14:22] mxfragz opened #740 "Aurora causing lag/stuttering on Overwatch"
Hello,

First of all, thank you for Aurora, it works very nicely, I enjoy the light effects on Overwatch on my K95 Platinum, it's gorgeous.

However, I've been troubleshooting some network issue I had with Overwatch.
When I was closing everything that was running in the background, no lag/stuttering at all. I have a pretty strong internet connection.

So then I started to turn on every software th

[2017-08-16 15:42] brainbug89 opened #741 "Layer Preview CS:GO multiple Teams bug"
### What are you experiencing an issue with?

- [x] Aurora supported game, (csgo)

### What kind of an issue is it?

- [x] Visual bug

### Expected behavior:
Undefined, CT and T should only be displayed once.

### Actual behavior:
Undefined, CT and T are displayed multiple times.

### How often does this problem occur?

everytime

### Please describe the steps to reproduce this issue:
The issue ca

[2017-08-16 16:11] Sokonomi opened #742 "Discord Support?"
I was wondering if we could have discord support, as it apparently has a lighting API now.
Steelseries is already using it.

[2017-08-16 16:23] Sokonomi opened #743 "RGB LED strip control?"
I don't know where else to ask this, but I was wondering if there was a way to control RGB LED strips.
Any DIY tutorials out there about how to make something that can be controlled by Aurora?

[2017-08-16 16:24] simon-wh commented on #742
Duplicate of #297, the case for steel series might be the same as Logitech, but I'll check when I'm home and post details in the mentioned issue

[2017-08-16 16:24] #742 closed

[2017-08-16 16:27] simon-wh commented on #739
I'm not sure why you're experiencing that issue, I and many people have used v0.6.1-dev2 and haven't had that issue. If anyone knows why this is happening I'd appreciate the help as the mentioned file is an embedded resource.

[2017-08-16 16:29] simon-wh commented on #743
Have a look at the pi-lighting branch

[2017-08-16 16:33] Sokonomi commented on #743
I don't want to struggle with the pain in the ass that is Raspbian. :')

Atmo-Orb can swing it with just a simple 5 dollar arduino board. I was hoping somebody smart had converted that setup to one that's able to run standard 5050 LED strips by now.

[2017-08-16 17:35] simon-wh commented on #743
You don't have to use a pi, you can just use that branch as an example of how to implement control for custom leds

[2017-08-16 17:40] Dagda52 commented on #724
@simon-wh i made a folder called aurora in the desktop, and launching from there, but i made also a shortcut  to one of my g keys on my keyboard, it did't had any trouble before, but even so it happens anyways if i lauch directly from the exe inside the folder in desktop or the g key.

[2017-08-16 17:41] simon-wh commented on #724
Well, I've made it so it forces setting the launch directory which should solve the issue for the next release

[2017-08-16 18:59] Dagda52 commented on #739
I had this issue too but i deleted the aurora folder in users/roaming folder and then it worked, and probably because i had installed razer sdk on top the dlls provided by razer sdk conflicts aurora since they are enabled globally conflicting aurora razer wrapper since all games that uses razer dlls now reads dlls from system32/syswow64 and makes the software thinks there are a razer keyboard, mou

[2017-08-16 19:00] Dagda52 commented on #739
http://developer.razerzone.com/works-with-chroma-v1/download/

[2017-08-16 19:02] TristanSchaaf opened #744 "Increased RAM usage over time, causing heavy lag"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [x] Performance problems
- [

[2017-08-16 19:28] simon-wh commented on #744
I think this issue should be resolved in the dev builds, could you try using the [latest development release](https://github.com/antonpup/Aurora/releases) (you might want to use v0.6.1-dev as dev2 has game integration check). You could also look at the solution mentioned in #387 if the dev release doesn't fix it.

[2017-08-16 19:30] simon-wh commented on #740
What's the memory usage from Aurora? I hadn't thought about that as a cause until #744. However, I feel like there may be a different reason for your issue.

[2017-08-16 19:37] slupton89 commented on #739
Deleting the Aurora folder in Roaming fixed it. I still don't know what caused the crash to happen. I used aurora to get the division to work on my blackwidow and it worked fine, then a couple days later when I tried to play again it started crashing. I never changed any settings in aurora other than selecting my  keyboard and patching the logitech sdk.

[2017-08-16 20:47] #739 closed

[2017-08-17 01:19] mxfragz commented on #740
I cannot check the memory usage as I'm now at work, but I will look into that when I can.

Concerning a different reason for my issue, I tried all sort of scenario. For example, I've quit any process in the background, no lag. Then launched Aurora, and only Aurora, and the lags came back instantly. Also, I'm getting lag in Overwatch only, which is the only game I use Aurora with. It should have po

[2017-08-17 10:58] TristanSchaaf commented on #744
dev2 seems to work. Haven't tested in-game though.

[2017-08-17 14:02] brainbug89 commented on #644
@ersan According to https://github.com/antonpup/Aurora/blob/619278ce2962f7aa08b006b9773b72c011e9038f/Project-Aurora/Project-Aurora/Devices/SteelSeries/GameSenseSDK.cs#L174 it should work with rgb-2-zone. My mouse is a Rival with rgb-2-zone and it works fine for it.

Does the Arctis 5 works with other GameSense apps?

[2017-08-17 14:23] brainbug89 commented on #724
@Dagda52

Line 884 and 885 from your log file:
´´´
'C:\Program Files (x86)\Corsair\Corsair Utility Engine\x64\CUESDK_2015.dll
C:\Program Files (x86)\Corsair\Corsair Utility Engine\x64\CUESDK.dll'
´´´

This folder doesn't exist on my computer. And I don't get this error in my log files. This error gets generated at (https://github.com/DarthAffe/CUE.NET)[CUE.NET]
The error gets thrown (https://githu

[2017-08-17 19:13] zimbosaurus opened #745 "g810 media keys are not customizable"
So I might be missing something here but I am unable to change lighting on the round media buttons. It really bugs me when those buttons are a different color than everything else. They're always the color from the last used profile in LGS. is this something that can be added, or is there some technical issue that can't be resolved?

[2017-08-17 19:22] diogotr7 commented on #745
Thia issue has been answered 4 or 5 times already, try searching :)

Anyways, the sdk doesn't support those keys unfortunately.
It bugs me too :(

[2017-08-17 19:25] zimbosaurus commented on #745
Oh, sorry. I did search but barely anything came up, guess I did it wrong somehow.

Well, that's kinda dumb. You think they'll ever add it?

[2017-08-18 04:12] mmateusu opened #746 "When i change the version from v.6.0 to v.0.6.0 dev2 gradient effects lose the saved colors"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [x] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [x

[2017-08-18 13:20] #745 closed

[2017-08-18 14:29] kaporten opened #747 "Cooler Master Masterkeys Pro L (nordic), Enter-key does not light up"
**Aurora version:** v0.6.1-dev2
**Keyboard:** Cooler Master Masterkeys Pro L (nordic)
**Keyboard Layout:** Nordic

**Issue:**
The Enter key does not light up, for any layer type.
The numpad-Enter key does, but the regular Enter key does not.

Exiting Aurora (reverting to CM profiles), the key lights up just fine again, so the LED isn't broken.
All other keys seem to behave as they should.

Testing

[2017-08-18 17:09] simon-wh commented on #746
What application/profile are you testing it with and what layer are you using? I tried Rocket League with the boost indicator and the gradient carried over and is retained when using the development version.

[2017-08-18 19:03] JmLykins opened #749 "Aurora eating ram on start up and displaying no interface or lighting effects"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [x] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [x] Performance problems
- [

[2017-08-18 20:18] dfg260 commented on #749
Got the exact same problem too.
Logs: https://pastebin.com/zgCX5PPk

[2017-08-18 20:37] NeoDaemon commented on #749
Same problem too.
Even loading the program manually sometimes the process start hogging ram and fails to load the ui.
Logs: https://pastebin.com/4sfaf5Hz

[2017-08-18 21:33] simon-wh commented on #741
Issue has been resolved in the commit above and will be included in the next release

[2017-08-18 21:33] #741 closed

[2017-08-18 22:22] JmLykins opened #750 "Corsair M65 Pro no DPI indicator LED lighting"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [x] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-08-18 22:33] simon-wh commented on #750
The DPI Indicator cannot be controlled through the CUE SDK. See https://github.com/DarthAffe/CUE.NET/issues/43

[2017-08-18 22:33] #750 closed

[2017-08-19 02:44] #743 closed

[2017-08-19 02:46] #744 closed

[2017-08-19 05:29] mmateusu commented on #746
i made my desktop profiles and they don't work when im merge to the new version, actually, they work, but only the solid colors still the same, if you are wondering which ones, i posted them here. one exemple :https://modworkshop.net/mydownloads.php?action=view_down&did=20646
in the description i posted a video on youtube on how he must behave, but, when i use the same archive in the "new" version

[2017-08-19 14:54] simon-wh commented on #297
I've looked into how Steelseries has implemented their support for Discord as mentioned in #742. It appears that they are using the RPC which is still locked under gamebridge so we're not closer to adding support for it.

[2017-08-19 17:11] lucasvanhalst commented on #749
For me this only happens when aurora starts with windows, if I start it manually it works fine

[2017-08-19 20:48] simon-wh commented on #746
I've sorted it and it'll be available in the next release

[2017-08-19 20:48] #746 closed

[2017-08-19 20:49] simon-wh commented on #740
@mxfragz Have you been able to check yet?

[2017-08-19 20:51] mmateusu commented on #746
When it will be? (sorry for being anxious)

[2017-08-19 20:55] simon-wh commented on #746
I'm not sure, hopefully soon.

[2017-08-19 20:58] mmateusu commented on #746
Ok sir thanks for the attention <3

[2017-08-19 23:49] simon-wh commented on #646
This should be fixed through the PR made by #738 which will be available in the next release.

[2017-08-19 23:49] #646 closed

[2017-08-20 08:21] mxfragz commented on #740
@simon-wh

Sorry, completely forgot.
Here are the screenshots I took : http://imgur.com/a/2SkjE

Doesn't seem to be a memory issue. But the problem is still the same. First screenshot, Aurora was on, and I was getting packets loss, second one Aurora is off (didn't even restart the game), and the lags were gone.

[2017-08-20 11:21] BombaLuigi opened #751 "Mouse movement not like expected"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [x] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-08-20 14:41] Mavi222 opened #752 "Mirror's Edge Catalyst weird lighting glitching."
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [X] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [X

[2017-08-20 15:10] simon-wh commented on #752
Can you post your log file after running the game?

[2017-08-20 18:59] simon-wh commented on #445
I've added light edge support in the latest commit, it'll be available in the next release

[2017-08-20 18:59] #445 closed

[2017-08-20 19:14] simon-wh commented on #549
@hsnabn I've added a commit that hopefully will resolve the numpad mapping, however the P1-P4 keys and pause keys match the documentation just like the numpad ones. Could you try downloading the [CM SDK](http://makerhub.coolermaster.com/custom-lighting/) and use the example to try setting the lights to see what coordinates work for those keys? You can find the listed coords under SDK in the zip.

[2017-08-20 19:15] simon-wh commented on #482
I believe this issue is pretty much the same as #549 so I'm going to close this to use that as the main one

[2017-08-20 19:15] #482 closed

[2017-08-20 20:55] Dagda52 commented on #752
Yeah it happens in dev versions too, but only in the red area.

https://drive.google.com/open?id=0B9v1VAHVo6poblhYQ1R6V25VQXc

[2017-08-20 21:13] simon-wh commented on #751
Could you try the [latest development release](https://github.com/antonpup/Aurora/releases/tag/v0.6.1-dev3) to see if it makes a difference?

[2017-08-20 23:46] froe commented on #549
Pause,P1-P4 works with the given coordinate

Pause 0,17

P1      0,18
.
.
P4      0,21

Also something else.

numpad 4-6 works with 3,18  3,19  3,20

all of this tested with the example exe found in the sdk folder.

[2017-08-20 23:49] simon-wh commented on #549
@froe Hmm, I'm really unsure why it isn't working properly then because that would say that the coords given are correct, but the mapping we have is the same as what is listed. I'll try and look into this a bit more.

[2017-08-21 22:37] iimma opened #753 "Steelserie's mouse slows keyboard animations (Masterkeys Pro L)"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [x ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ x] Performance problems
-

[2017-08-22 02:49] lightwarcraft opened #754 "Add a keyboard?"
Just wondering if you could add in the Logitech G213 Keyboard, if not if theres a way for aurora to just find my keyboard and I customize it as a "custom" or "not listed" keyboard. I like the key wave effects in the program but I can't use them because my keyboard isn't listed. Thanks!

[2017-08-22 10:18] simon-wh commented on #754
That keyboard doesn't appear to be supported by the Logitech SDK, so there isn't much I can do to support it.

[2017-08-22 10:18] #754 closed

[2017-08-22 17:51] diogotr7 commented on #730
@th3an7 I wasn't able to get those working at all unfortunately

[2017-08-22 18:02] th3an7 commented on #730
Hmm... I give up then... You can search for the specific pointers with Cheat Engine :P
Pointers are changed everytime you start a game, connect to a new server etc. because everything is loaded into memory which cells are always changing.

Only some parts of the game's pointers stays the same (but unfortunately not those we are looking for)

[2017-08-22 18:31] brainbug89 commented on #753
I have a Steelseries mouse and it's not lagging for me. Could you try to restart the SSE3 client. Do you have the latest version of SSE3?

[2017-08-22 22:41] diogotr7 opened #755 "[Request] [Equalizer] Add option to choose audio device to display on keyboard"
If we could change the audio device it would be possible for the EQ layer to only display music, for example.

It would allow voicemeeter banana users to isolate certain applications while stil playing all the sound to the user.

[2017-08-23 01:08] iimma commented on #753
I tried everything

[2017-08-23 02:33] iimma commented on #755
good idea, for example my keyboard light works only with the audio that my monitor is taking out of my hdmi port. i'm not able to use realtek's devices or any other audio device.

[2017-08-23 03:15] ishithefishi opened #756 "[Request] Support for Ajazz Ak33 RGB"
This was asked quite a while ago, and I'm not sure if there is an SDK, but I know there's a PC program that controls it. I'd like to sync it to my Logitech G900 Thanks for consideration and ongoing support for the program!

EDIT:I dug deeper and read more. Pls delet

[2017-08-23 08:50] userforusing opened #757 "Updates Break Desktop Profiles"
This is

### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [x] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance prob

[2017-08-23 11:46] geomag42 opened #758 "Memory leak"
### What are you experiencing an issue with?

- [X] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [X] Performance problems
- [

[2017-08-23 15:28] busaku commented on #730
U can't give up! I love aurora and i love rocket league.
May can i help? But iam only a python programmer :/

[2017-08-24 04:17] BigMan7o0 opened #760 "Razer not detecting chroma app"
so i am not sure if this is an issue on your end, or razer synapse, but it will NOT detect aurora as a chroma app, which means i can not have any effects on my keyboard. it worked like a month ago, but then my pc had some issues, and i had to re install windows, and wipe all my previous apps and data. ever since then this will not work for razer products.

[2017-08-24 15:51] #756 closed

[2017-08-24 15:53] simon-wh commented on #758
Could you look at the possible fix mentioned in #387?

[2017-08-24 15:54] simon-wh commented on #760
Did you follow the setup instructions for Razer?

[2017-08-24 16:17] simon-wh commented on #757
Can you give me an example of a profile that experiences this issue?

[2017-08-24 16:19] BigMan7o0 commented on #760
yes, i did. i also tried un-installing aurora, and razer synapse. i tried toggling the chroma apps off, then back on, and it didn't work.
and also, since i didn't mention it in my original post, i am running everything as administrator,

and now after trying to re-install aurora again i am getting the following error message (it re-occurs every time i try): http://imgur.com/a/gRPWJ

as for the err

[2017-08-24 16:21] simon-wh commented on #760
For that last issue, you'll need to delete %appdata%/Aurora/Config.json. It's a known issue when going back to v0.6.0b after using a dev release.

[2017-08-24 16:30] BigMan7o0 commented on #760
ok yeah i figured the error was me doing something wrong lol.
after re installing it, it still wont show as a chroma app in synapse, and wont allow lighting control over my keyboard or headset.

[2017-08-24 16:41] simon-wh commented on #760
Can you have a look at what is shown in the Devices section for Razer? Could you also make sure that the SDK has been enabled and post the log file if you can't get it working?

[2017-08-24 16:54] BigMan7o0 commented on #760
ok this time a re install of synapse seems to have worked.
i don't know why it worked this time, but not last time. most likely some form of user error, but god only knows with razer synapse lol.

[2017-08-24 17:03] simon-wh commented on #760
Okay, I'm glad you got it sorted.

[2017-08-24 17:03] #760 closed

[2017-08-24 17:13] hsnabn commented on #549
In the latest version v0.6.1-dev3, The P1-P4 keys light up correctly, as well as Numpad 4-5, but Numpad 6 does not work.

In the SDK example, coordinates work and light up the keys as per @froe's observations (i.e. according to the SDK document).

[2017-08-25 05:25] FHeilmann commented on #749
Could it be connected to the fact that aurora requires administrator privileges during startup?

I have the same problem btw.

[2017-08-25 08:21] userforusing commented on #757
Yes I can. The most recent that I used was this [one](https://modworkshop.net/mydownloads.php?action=view_down&did=20582)

[2017-08-25 14:56] Mavi222 commented on #752
I just launched it again. the log probably doesn't contain much information. Because it started happening at 16:49 but there isn't any log at that time. Here is the log

`========================================
Operation System: Windows 10 Pro
System Architecture: 64 bit
Environment OS Version: Microsoft Windows NT 6.2.9200.0
System Directory: C:\WINDOWS\system32
Processor Count: 8
User DomainNam

[2017-08-25 18:14] brainbug89 commented on #481
This would be also nice for headsets. (atm Steelseries headset doesn't light up when using a mouse other than generic)

[2017-08-25 19:09] LePayper opened #761 "CM Masterkeys Pro L WHITE - will it be supported?"
Hello!

I am after using the google search tool for around 2 hours trying to understand how do Masterkeys Pro L WHITE is supposed to have customized lighting - well I found only those that are on CM site, and to use them, You have to have compiled .exe on top of everything, because if You minimize it, the "custom" effects are gone  - which makes it not really useful.

Then I found Aurora - man, th

[2017-08-25 19:14] simon-wh commented on #761
CM Masterkeys Pro L White is supported in the [development builds](https://github.com/antonpup/Aurora/releases)

[2017-08-25 19:14] #761 closed

[2017-08-25 19:15] LePayper commented on #761
Thank You very much

[2017-08-25 19:35] Dagda52 commented on #752
this is my log with dev 3

https://pastebin.com/6TsCp18d

[2017-08-26 00:52] mmateusu opened #762 "D.VA and Zarya Colors change when using HSV (Overwatch)"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [x] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [x

[2017-08-26 01:33] diogotr7 commented on #762
Can confirm this. It's annoying because you can only get reaper and doomfist to even display at all with hsv

[2017-08-26 05:19] Ulvsonn opened #763 "Sound cracks when having Aurora running"
### What are you experiencing an issue with?

- [X ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-08-26 10:54] DogeAmazed commented on #763
Is it a typo that your version is 0.3.0b?
If you mean 0.6.0b, try the [newest development build](https://github.com/antonpup/Aurora/releases) and check if the bug exists there.

[2017-08-26 11:12] stephenej commented on #757
This [profile](https://modworkshop.net/mydownloads.php?action=view_down&did=17402) also no longer works for me with latest dev build (0.61 -dev3). I've reset all preferences and such and the profile no longer applies anything.

[2017-08-26 16:19] simon-wh commented on #757
@stephenej That profile you linked was created before the Layer system was implemented and there is no system to carry over the old settings to the layer system

[2017-08-26 16:27] simon-wh commented on #757
@userforusing The reason the profile you linked has problems with colours carrying over is because it was created after the change that previously caused problems with gradients that was reversed in v0.6.1-dev3, as far as I can tell it was only the gradients that were affected. I'm fairly certain that the gradient breaking change only appears in dev builds in which case I'm going to leave it as is

[2017-08-26 16:32] simon-wh commented on #752
@Dagda52 Did you repatch the appropriate wrapper?

[2017-08-26 16:54] simon-wh commented on #749
@JmLykins @dfg260 @NeoDaemon @lucasvanhalst @FHeilmann  Has anyone experienced this while using v0.6.1-dev3?

[2017-08-26 17:05] #757 closed

[2017-08-26 17:32] Ulvsonn commented on #763
It was a typo indeed. My bad.
I'll try with that version and update this thread.

[2017-08-26 17:45] userforusing commented on #757
Thank you for investigating this. I do have a follow-up question though.
Looking at the file in notepad there are only "color_gradients" entries. So shouldn't those be the correct values? When I do change them though, Aurora replaces them back again at startup.

[2017-08-26 17:46] simon-wh commented on #757
You have to change them before you drop the profile into Aurora. Once a newer version of Aurora has been launched it will have removed the "colorGradients" and added a default "color_gradients". So you'll need to edit the file when you download it.

[2017-08-26 17:51] JmLykins commented on #749
@simon-wh Aurora now starts and loads my keyboard lighting configuration but still no ui and starts to eat ram. Restarting Aurora fixes the problem.

[2017-08-26 18:56] Dagda52 commented on #752
actually at first no, but now i did it, but still flashes theres the new log.

https://pastebin.com/R9YwPLRd

[2017-08-27 00:12] DoctorOtterface commented on #644
Coming back to this; any luck with an alternate addressing method for Steelseries devices rather than using GameSense?

Perhaps when a SteelSeries device is detected and selected as input, the Aurora effects are passed through using USB addressing rather than via the SDK.

[2017-08-27 00:14] brainbug89 commented on #644
I haven't tried this. I don't know what these magic numbers are that CalcProgrammer1 writes on the memory buffer.

[2017-08-27 03:16] Ulvsonn commented on #763
Yup. Still having the same issue. I'll work all day tomorrow without opening Aurora and see if the noise is still present.

[2017-08-27 07:34] DogeAmazed commented on #763
Well, thats good for Aurora.
Is your sound device USB? If yes, there might be some interferences with your keyboard. I've got this on my setup (Razer BlackWidow Chroma and G930), when I set the light intensity to maximum and charging my headset.

[2017-08-27 07:36] ChaosgamesTV opened #764 "Logitech RGB light is not so bright as in the original software!"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [x] Aurora supported device, (Logitech G810)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [x] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [ ] Visual bug
-

[2017-08-27 07:46] ChaosgamesTV commented on #764
Ok i fixed the problem by my self ;)

[2017-08-27 07:46] #764 closed

[2017-08-27 07:49] ChaosgamesTV opened #765 "RocketLeague integration does not work!"
### What are you experiencing an issue with?

- [x] Aurora
- [x] Aurora supported game, (RocketLeague)
- [ ] Aurora Wrapper
- [x] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [x] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [ ] Vi

[2017-08-27 08:39] Dagda52 commented on #724
apparently is fixed now in dev 3 at least for me

[2017-08-27 09:37] DoctorOtterface commented on #644
I've shot off a message to CalcProgrammer1 to see if they can shine a light on how to address the board over USB. Hopefully if they can explain the process it can be implemented in place of the current GameSense system.

[2017-08-27 13:00] lucasvanhalst commented on #749
@simon-wh yep, same issue. Even got windows to say 'Close some programs to free up memory' because it ate all of my available ram and swap space.
~![https://i.imgur.com/dBcN7FK.png]()

My light effects do work now, but the UI icon isn't visible in the taskbar and I can't open it unless I kill it in task manager and restart manually.
Using a G910 + razer deathadder elite.

[2017-08-27 13:47] simon-wh commented on #765
Duplicate of #185

[2017-08-27 13:47] #765 closed

[2017-08-27 13:56] ChaosgamesTV commented on #185
What do you think? When will RocketLeague start working again?

[2017-08-27 18:47] Ulvsonn commented on #763
No, I'm testing with standard 3.5mm sound plug, HD audio from HDMI and Displayport.

I just updated my USB drivers and haven't experienced the issue. However, if I start aurora, it starts as soon as lighting effects start.
I'm desperate lol.

[2017-08-27 20:08] mmateusu commented on #762
Up

[2017-08-28 07:39] FHeilmann commented on #749
My last sync also happened post 0.6.1-dev3 (I self-compile). I saw that some changes were made to the autostart-with-windows code so I'll sync and retest today.

[2017-08-28 14:17] LukasACH commented on #762
I will look into this

[2017-08-28 16:22] VoronFX opened #767 "Aurora process priority"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [x] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [x] Performance problems
- [x

[2017-08-28 16:45] simon-wh commented on #767
I feel as though we would want to try and avoid having Aurora set at high priority at all times in case there is a scenario where it could be reducing the performance of the game being played. It depends on a person to person basis so it would probably make sense to ensure that it has at least a normal priority at all times and maybe have an option to make it run at a higher priority.

[2017-08-28 23:08] argente69 opened #768 "Away Effects Suggestion"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [x] Other, (suggestion)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [ ] Visual bug
- [

[2017-08-29 04:45] Ulvsonn commented on #763
Update:

Rolled back like 4 or 5 versions of Logitech Gaming Software and the problem stopped. Unfortunately, if I start Aurora, it returns... halp!

[2017-08-29 05:26] VoronFX commented on #767
Yeah that is probably the best approach. Setting high priority is good in theory, cause I believe GUI should be responsive and fluid, but in reality almost no one GUI uses high priority, sadly even games. So we also shouldn't break this bad tradition to not affect other apps.

[2017-08-29 20:21] Ulym38 opened #769 "Inverted lights"
This is a pretty simple issue :
- I'm using a Logitech G410 Keyboard with a AZERTY layout
- I'm using Aurora 0.6.1-dev3
- In the "Affected Keys" area, the keys are ZQSD but the keyboard lights up WASD.
Here is a screenshot : [http://imgur.com/a/10jos](http://imgur.com/a/10jos)

[2017-08-29 22:03] Arachnophobe opened #770 "Not working with Dvorak"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [x ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-08-30 00:20] simon-wh commented on #769
This occurs due to the changes I made which makes the internal aurora mapping based on the physical keys so that if someone with qwerty layout has a profile that lights wasd and shares it with someone using azerty then it would light the same physical keys, in that case being zqsd. The reason you see it listed as zqsd but wasd is lit is because currently what is displayed in the affected keys is t

[2017-08-30 03:07] Dagda52 opened #771 "Overwatch no longer works"
### What are you experiencing an issue with?

- [ ] Aurora
- [x] Aurora supported game, (Overwatch)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [ ] Visua

[2017-08-30 08:48] lattedesu commented on #771
Can confirm, doesn't work on my end, too.

[2017-08-30 11:41] diogotr7 commented on #771
It works for me on Aurora 0.6.0dev3 and the latest August 29 overwatch patch.

It just worked straight away without any fixes or tweaks.

I have a g810 and a g502

[2017-08-30 11:47] lattedesu commented on #771
Same combo, g810 + g502, doesn't work. It' becomes black and stays like that. Re-patching didn't help.

[2017-08-30 12:03] diogotr7 commented on #771
I just tested it over remote desktop http://i.imgur.com/suP1S2h.jpg .

And yes, it updates when I choose heroes and use abilities.

[2017-08-30 15:02] simon-wh commented on #769
Issue has been fixed in the way I described in my previous comment, fix will be available in the next release.

[2017-08-30 15:02] #769 closed

[2017-08-30 15:02] Dagda52 commented on #771
nope every other razer chroma games works, except for this game, and its like h1z1 and warframe

[2017-08-30 15:16] simon-wh commented on #767
I've added an option to run Aurora at high priority which is disabled by default

[2017-08-30 15:16] #767 closed

[2017-08-30 16:26] Dagda52 commented on #771
Well it works again, how strange, i was yesterday patching it like a toons of time, i even installed razer chroma sdk and patched dlls so the dll's can be loaded globally guess is something on my end and lattedesu end. IDK

[2017-08-30 16:55] jobinmatt opened #772 "WILL YOU GUYS ADD SUPPORT FOR LED STRIPS USING ARDUINO ON COM PORTS!! PLS."
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [x] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-08-30 17:14] jobinmatt commented on #772
I read the previous thread,  But I was wondering if there is a way to read() the colors being outputted by aurora (through the serial port). I already have my led strips setup with FASTLED.
Any help would be amazing.
Thanks in advance!

[2017-08-30 17:15] simon-wh commented on #772
You can add support for LED strips using the RPI lighting support as an example from this branch: https://github.com/antonpup/Aurora/tree/pi-lighting . I don't plan to add native support for led strips under rpi or Arduino as it would be very difficult for me to add support for every different variation of lighting.

[2017-08-30 17:15] #772 closed

[2017-08-30 19:10] Dagda52 commented on #771
adding that you need to enter a match now to make the effects works.

So apparently i rushed a little in conclussions, guess still works but differently

[2017-08-30 19:54] Dagda52 commented on #751
It's happening to me too but only if i have some very intensive cpu apps running on background and a game in foreground, for example doing bluestacks multiple instances but playing overwatch or any fps while my stacking is going on, then in my case m65pro the highest value is the sniper mode, so instead of going nuts to the highest dpi value it goes to the lowest dpi value set in sniper mode 400 d

[2017-08-30 20:19] diogotr7 commented on #771
Yeah, I noticed that sometimes the orange that used to appear on the main menu doesn't appear anymore, you actually need to enter a game.

[2017-08-31 11:05] LukasACH commented on #730
If anyone ist still interested in finding the correct pointers:
- If you have found the correct Memory Address in Cheat-Engine, select "Pointer scan for this address" and save to disk.
- Then you must do actions that would change the position of the value in memory, like change match, restart the game etc. (in different order multiple times)
- Rescan the memory under "Pointer scanner" -> "Rescan m

[2017-08-31 20:38] simon-wh commented on #728
@KanyQan Could you using dev3?

[2017-09-01 13:49] nyan257 opened #773 "Question; Please Help"
Does this work with the keyboard on razer blade laptops?

[2017-09-01 15:10] simon-wh commented on #773
It should work, the latest dev release includes a layout for the blade devices

[2017-09-01 15:10] #773 closed

[2017-09-02 03:29] nyan257 opened #774 "Alienware laptop keyboard layout support"
Is there support for the layout of the alienware laptop keyboard?

[2017-09-02 03:49] nyan257 commented on #774
Also, where do i install the alien fx plugin hook and the razer chroma hook? sorry

[2017-09-02 09:50] LightShaft opened #775 "Aurora can't connect my corsair Strafe"
### What are you experiencing an issue with?

- [X] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [X

[2017-09-02 12:33] simon-wh commented on #762
Issue fixed through PR #766. Thanks @LukasACH! The fix will be available in the next release

[2017-09-02 12:33] #762 closed

[2017-09-02 12:34] simon-wh commented on #771
The main menu colour could be a change in the overwatch update rather than an issue with Aurora. Does anyone know if this is/isn't the case?

[2017-09-02 12:35] simon-wh commented on #775
Could you post your log file? The images you've linked don't really provide any helpful information.

[2017-09-02 12:38] diogotr7 commented on #771
It only started happening when the junkrat changes hit, so August 29th. Afaik Aurora hasn't changed so the issue is probably the overwatch update.

[2017-09-02 13:11] simon-wh commented on #771
As far as I can tell Overwatch doesn't create any lighting when it's in the main menu currently, so they must've removed the main menu lighting that has been referred to.

[2017-09-02 13:11] #771 closed

[2017-09-02 13:14] simon-wh commented on #774
Alienware laptops are not supported, I'm not sure what you're talking about with "alien fx plugin hook" and "razer chroma hook".

[2017-09-02 13:14] #774 closed

[2017-09-02 13:15] simon-wh commented on #774
You can see the list of supported devices in the readme for this project.

[2017-09-02 13:16] lattedesu commented on #771
Can confirm ingame works. Possibly on overwatch's end. Thanks for investigating.

[2017-09-02 13:21] simon-wh commented on #512
Closing due to inactivity.

[2017-09-02 13:21] #512 closed

[2017-09-02 13:22] simon-wh commented on #650
Closing due to inactivity.

[2017-09-02 13:22] #650 closed

[2017-09-02 13:24] simon-wh commented on #749
I haven't been able to recreate this issue again recently but I have experienced it before using dev builds. If anyone who is self-compiling like @FHeilmann could try and figure out why it is happening when it happens again I'd appreciate it.

[2017-09-02 13:28] simon-wh commented on #673
I think the improvements I made in the commit above are the best I can do right now to improve performance for this case. Something I just considered, do you really need a macro that repeats so frequently? If you continue having performance issues in the dev builds with the macro you should either stop using the interactive layer or you should try reducing the rate of your macro.

[2017-09-02 13:28] #673 closed

[2017-09-02 15:47] LightShaft commented on #775
Yes sir, please forgive me for that
[2017_02_09.txt](https://github.com/antonpup/Aurora/files/1272278/2017_02_09.txt)

[2017-09-02 17:24] NoOne-dev opened #776 "Razer Blade (Non-Stealth) Keyboard "Offset""
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [Razer Blade 2017 FHD (Non-Stealth)] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Cras

[2017-09-03 00:35] diogotr7 commented on #18
@simon-wh Today I was testing Dying Light and I can confirm it works pretty consistently as long as I don't have a profile created for it. If I do, I get this [log](https://pastebin.com/YqZrvJHf) and it doesn't display anything on the keyboard except the layers I configured manually.

[2017-09-03 00:46] brainbug89 commented on #18
The error gets thrown here: https://github.com/antonpup/Aurora/blob/dev/Project-Aurora/Project-Aurora/Profiles/LightingStateManager.cs#L636

The problem is, that the SetGameState method isn't implemented here: https://github.com/antonpup/Aurora/blob/dev/Project-Aurora/Project-Aurora/Profiles/Generic_Application/Event_GenericApplication.cs#L55

[2017-09-03 00:51] brainbug89 commented on #768
My idea was to create a new profile like the Desktop mode and name it AFK mode.

Also I want it to cycle or random-select different layers for some random away effects.

[2017-09-03 01:06] diogotr7 commented on #18
If I don't create a profile it works perfectly but keeps throwing out this line repeatedly on the log

[INFO] Unknown Wrapper Command: LFX_GetNumLights

everytime the lightning updates.

[2017-09-03 02:31] Oparoax opened #777 "Volume controls on the Razer blackwidow"
### What are you experiencing an issue with?

- [ x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-09-03 13:22] simon-wh commented on #775
From the log it looks like the error you were getting is the same as one that is mentioned [here](https://github.com/DarthAffe/CUE.NET/issues/55) which you can see what is mentioned about it over there. Regarding Overwatch being dark in the menu as far as I can tell it doesn't send any lighting when in the menu initially, so Blizzard must have changed something, you can see the talk about that spe

[2017-09-03 13:22] #775 closed

[2017-09-03 13:24] simon-wh commented on #18
With my plan to make the wrapper lighting into a layer for v0.7.0 it should allow you to create a custom profile for an application that uses a wrapper.

[2017-09-03 14:55] Mikewl opened #778 "Ambilight extreme CPU usage and Main monitor selection broken"
So testing the ambilight layer on the current beta (v0.6.1-beta3) I get 30% CPU usage (to be fair, 2x Full HD and 1x 2560x1440 screen) then wanting to limit that to a single screen i.e. my main monitor Then only the f1-f12 keys light up and the area seems to be around the mid lower section of the screen.

Trying to limit it to a single process still uses the same large amount of CPU usage.

[2017-09-04 16:54] FHeilmann commented on #749
Freshly synced just now.

unfortunately issue still persists.

Here is my log:

https://pastebin.com/xkwSAdtE

[2017-09-04 19:25] itzfe3ix commented on #515
I have an issue with the Overwatch profile, it doesnt show any layers nor binds or effects. It doesnt load the profile form the chroma and when i open Overwatch, my keyboard (G910) just goes blank, i tried different things. I installed SDK alone and Synapse and aurora, but nothing seems to work. Can someone help me?

[2017-09-04 21:37] Shastarocks opened #779 "Spectogram Help"
I was wondering if there is a way to use the spectogram but only on a certain part of the keyboard, like if I wanted to just put it on the num pad or just across a row of keys. Is there a way to do this using Aurora?

[2017-09-04 21:47] Shastarocks commented on #779
also is there any plugins like how you got on CS or Dota just up for download to anyone?

[2017-09-04 21:47] Shastarocks commented on #779
Or make a community on SDK or profiles people have made

[2017-09-05 14:08] diogotr7 commented on #779
I know you can exclude keys from the EQ in the latest dev but that's not really what you're asking.

[2017-09-05 15:18] FHeilmann commented on #749
Addendum: Just booted my PC again and everything started up as it should've. So it seems the issue only occurs sometimes.

[2017-09-05 15:48] diogotr7 commented on #179
I tested this again with v0.6.1-dev3 and the game crashes right before the main screen if I leave the dlls on the folder. If I remove them it works fine.

The game seems to recognize the devices but crashes right after.

Aurora logs: https://pastebin.com/Cn0UDnmu

RotTR log: https://pastebin.com/EFVn81SD

I have not created a profile for the game and am using the g810 and  g502.

[2017-09-05 21:52] rieke137 commented on #671
Bump.

[2017-09-05 22:45] #671 closed

[2017-09-05 22:54] rieke137 opened #780 "Enhancements - Dota 2 Profile"
### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [ ] Visual bug
- [ ] Localization issue
- [X] Enhancement suggestion
- [ ] Device issue
- [ ] Other, (Fill in another type of issue here)

I have seen some other RGB integrations that I have really liked.  That said, you guys are still the best.  It would be cool if we could get a few additional components added to the Dota

[2017-09-06 00:37] Ravor9 opened #781 "xcom enemy unknow profile dont work with enemy within"
### What are you experiencing an issue with?

- [x ] Aurora supported game, (Fill in the game)

### What kind of an issue is it?

- [x] Enhancement suggestion

### Expected behavior:
This isnt a bug. But would be nice to work for both games (just a copy past for enemy within

### Actual behavior:
xcom enemy unknow profile dont work with enemy within

### What is the version of Aurora you are exper

[2017-09-06 01:12] simon-wh commented on #781
I can't find any evidence of Enemy Within having support for Alienware LightFx which is how the support for Enemy Unknown is implemented. If it does have support for it, you should be able to just apply the LightFX wrapper to the game folder which you can find in the settings for Aurora.

[2017-09-06 01:12] #781 closed

[2017-09-06 01:18] simon-wh commented on #779
@Shastarocks you could use the exclude keys to achieve what you're talking about as @diogotr7 mentioned. I'm not sure exactly what you're talking about with your other two comments, but I am working on a plugin system which currently allows you to add proper layers, but I plan to make it so it can add support for application as well. I imagine once that is done if anyone does use it it'll be uploa

[2017-09-06 01:18] #779 closed

[2017-09-06 01:27] simon-wh commented on #776
Is the offset the same when you're using the Blackwidow layout? The mapping that I'm using, which is correct according to [this page](http://developer.razerzone.com/works-with-chroma-v1/razer-chroma-led-profiles/) doesn't have the same mapping as the one for the blade.

[2017-09-06 01:56] #162 closed

[2017-09-06 02:53] simon-wh commented on #778
The issue appears to be as a result of how the current system of taking screenshots works as it will always just stitch the monitors you have beside each other in whatever order they are in windows, whereas the region we use to get the right part is determined using the region that windows make to lay everything out which results in a mismatch. From looking at it it'll likely require a switch in s

[2017-09-06 16:26] simon-wh commented on #515
@itzfe3ix It should work when you go in game, it appears that overwatch no longer does the menu lighting on startup since the recent updates.

[2017-09-06 18:16] simon-wh commented on #504
@Medroid I've added support for the layout in the commit above but I wasn't able to test the / key as it isn't present on my keyboard on the on-screen keyboard I use for testing. [This build](https://www.dropbox.com/s/slv6b15cv7oufho/v0.6.1-dev3%20ABNT2%20test.zip?dl=0) will log the necessary details of the key press for that key if it isn't currently working properly. Could you test it and post w

[2017-09-07 17:59] dfg260 commented on #749
I updated it and sadly nothing changed.
Aurora still starts eating ram even if its manually started.

![](https://i.imgur.com/IVs7KY2.png)
Logs: https://pastebin.com/9UntBm7g

[2017-09-07 19:49] Medroid commented on #504
Hi,

Thanks for the update. As soon as possible I will test it and let you know.

Thanks!

Enviado do Email<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

De: Simon W<mailto:notifications@github.com>
Enviado:quarta-feira, 6 de setembro de 2017 15:16
Para: antonpup/Aurora<mailto:Aurora@noreply.github.com>
Cc:Medroid<mailto:matheus.patrick@hotmail.com>; Mention<mailto:mention@norep

[2017-09-08 03:19] mmateusu opened #782 "Not booting right"
### What are you experiencing an issue with?

- [ x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ x] Performance problems
-

[2017-09-08 07:13] SilentZen commented on #782
I have the same issue, after boot aurora starts but taskbar icon never appears, keyboard (corsair) and mouse (logitech) and headset (razer) light up , extra scripted devices like blinkstick and lights controlled via pi do not.
Kill process and try again sometimes works but not every time. (usually keens a few tries killing and restarting.
Let me know if there is anything I can provide to help.

[2017-09-08 07:18] mmateusu commented on #782
Yeah, that's the way I'm doing it but it's not supposed to work like that right?
And I forgot to add but, I'm experiencing some inputlag when Aurora is open at this conditions
(G810 keyboard)

[2017-09-08 08:23] sym5 commented on #179
Same as diogotr7, the dev3 breaks ROTTR & lighting effects for said game, mine totally locks up & I have to restart my pc in order to get back to desktop.
I once got the game to load but the keyboard animation was stuck with just a column of keys lit.

[2017-09-08 14:57] diogotr7 commented on #179
I don't have to restart my PC, I can call task manager but the keyboard stuck with one colunn of keys lit happens here too

[2017-09-08 17:15] simon-wh commented on #782
Could you post your log file?

[2017-09-08 17:57] mmateusu commented on #782
[Logs.zip](https://github.com/antonpup/Aurora/files/1288725/Logs.zip)
From 3 days ^
From Yesterday v
========================================
Operation System: Windows 10 Pro
System Architecture: 64 bit
Environment OS Version: Microsoft Windows NT 6.2.9200.0
System Directory: C:\WINDOWS\system32
Executing Directory: C:\Users\GABRIEL\Desktop\release_major_0_6_1-dev3
Launch Directory: C:\Users\GABRI

[2017-09-08 18:07] simon-wh commented on #782
It seems like this issue is very similar to #749, I feel like it is just a slight variation of it where in this case nothing ui related loads and in the other a bit loads. I'll close this and direct any talk about this problem to #749

[2017-09-08 18:07] #782 closed

[2017-09-08 18:13] simon-wh commented on #179
Could you try the recent developer version and see which is the first version that introduces the issue?

[2017-09-08 19:46] mmateusu opened #783 "When copy and paste profile, Aurora Crashes"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [x] Crash
- [ ] Performance problems
- [

[2017-09-08 20:26] Bionicle06 commented on #758
It happens to me, too. It looks like it only happens when its in autostart. It consumes 1-2GB RAM, the logs dont log anything enteresting, as far as i can say.

Here is the log from the whole day:
https://pastebin.com/pfeBhaDC

The fix didn't help me. It happens only in dev3 in dev2 it works normal.

[2017-09-08 20:54] Running-Banana opened #784 "K95 Plat G3-G6 Keys not illuminating"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [X] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-09-08 20:56] diogotr7 commented on #179
I tried and the first version that seems to introduce the game crash/hang  is 0.6.1-dev. Earlier versions didn't display lightning at all and the game worked. This version Makes the screen go black.

Log: https://pastebin.com/h9pFy8yL

[2017-09-08 21:06] simon-wh commented on #784
This issue was fixed with PR #759 and will be included in the next release.

[2017-09-08 21:06] #784 closed

[2017-09-08 21:29] simon-wh commented on #783
Thank you for the detailed report! I've fixed the issue in the commit above and the fix will be included in the next release.

[2017-09-08 21:29] #783 closed

[2017-09-08 23:08] olokos commented on #607
Seems like this is the issue. It should be noted to user specifically that this needs to be done in order for it to work.

[2017-09-09 00:45] simon-wh commented on #179
@diogotr7 Could you try [this build] and tell me how it goes? I've made it so it'll log the gamestate it received which caused it to error out in your previous dev3 build so make sure to include the log file as well.

[2017-09-09 13:52] simon-wh commented on #511
Closing due to inactivity.

[2017-09-09 13:52] #511 closed

[2017-09-09 13:55] simon-wh commented on #758
@Bionicle06 What game are you playing when it starts going up in RAM usage?

[2017-09-09 13:56] #607 closed

[2017-09-09 13:58] Bionicle06 commented on #758
It's CS:GO but all profiles for the games are disabled.

[2017-09-09 13:59] simon-wh commented on #747
@kaporten Does your keyboard have the short enter key the same as the US keyboard layouts? If so, the fix should be pretty easy.

[2017-09-09 14:22] simon-wh commented on #758
I wasn't able to replicate the issue using my current dev version of Aurora. You can try [this build](https://www.dropbox.com/s/6lavqkpwqps4x9e/v0.6.1-dev3%20tr%20test.zip?dl=0) but I don't think it'll make a difference

[2017-09-09 14:48] diogotr7 commented on #179
I deleted the %appdata% Aurora folder and ran the exe. The Logitech first time intro appears and then I get this
http://i.imgur.com/6xeuIBx.jpg
I ran it from my desktop, is that a problem?

[2017-09-09 15:53] simon-wh commented on #179
@diogotr7 Try [this build](https://www.dropbox.com/s/zhnf1uarc1o54uk/v0.6.1-dev3%20tr%20test2.zip?dl=0) (it should be uploaded in a few mins)

[2017-09-09 16:55] diogotr7 commented on #179
@simon-wh  I jkust tried it and

[2017-09-09 17:00] diogotr7 commented on #179
@simon-wh I just tried it and it seemed to work without any problems, as long as I don't create a profile for it. Orange wave across keyboard while loading, movement keys orange and turn white while pressed, whole keyboard flashes red when low hp and damage taken.
Log without profile: https://pastebin.com/wXvXjrQp

Log with profile: https://pastebin.com/JC2BxGTk  (that error keeps appearing for ~2

[2017-09-09 22:34] simon-wh commented on #179
@diogotr7 Is there nothing after the Pipe Created line on the log without the profile? Before the log you had with v0.6.1-dev3 showed an error which caused it to stop working and I was hoping to be able to catch to try and narrow it down.

[2017-09-09 23:56] diogotr7 commented on #179
I just did it again and the log looks just like that one :
v0.6.1-dev3 tr test2 : https://pastebin.com/4NBpjKwi

I tested again with the most recent version and I found that it doesn't make the game crash every time. Sometimes it just stops updating the lightning and just lights up the G logo on both the keyboard and mouse.
Here's a Log (I opened and closed the game twice and it didn't crash.) htt

[2017-09-10 00:18] simon-wh commented on #179
Can you try and get the error from dev3 to occur when using dev3 tr test2?

[2017-09-10 00:32] diogotr7 commented on #179
@simon-wh I tried running the game as admin, without the launcher, restarted my computer and unfortunately i wasn't able to get the error using the test2 version. It always just worked straight away.

The one thing I noticed is that the older version crashes/freezes/stops updating lightning when it gets to the main menu. In the working version, this is when the game displays the following keys as

[2017-09-10 00:39] simon-wh commented on #179
With the log from dev3 it seems like it errors due to it erroring out on a malformed payload and it doesn't close the connection with the game causing it to freeze. Maybe there was a change since dev3 that stopped that issue from happening.

[2017-09-10 11:54] Bionicle06 commented on #758
I tried it again with your build but nothing really changed, its now on 1 GB after playing CS:GO.
https://pastebin.com/9DSJGBqf

[2017-09-10 15:43] simon-wh commented on #179
@diogotr7 What's the name of the rotr exe? I'm planning to add a profile for it so you can customize it better.

[2017-09-10 17:15] diogotr7 commented on #179
@simon-wh I just tried it and it worked very well  I can apply new layers and the display as they should, without affecting the game's lightning.

I applied the razer patch( both dll's) from the aurora settings to the same directory as ROTTR.exe is in, and I didn't delete/replace/reapply the patch at any point.

Also, I do not have the files in system32 or syswow64, as was referred earlier in the

[2017-09-10 17:28] simon-wh commented on #179
@diogotr7 I've corrected the Overview text to have the right game title (I just copy paste similar applications). Seeing as you've got it working by putting it in the standard location for wrappers for a game then I don't need to make any changes. I'll close this issue as it seems like it has been sorted. Thanks for all the help! Could you see if your log has the error that was coming up in a few

[2017-09-10 17:28] #179 closed

[2017-09-10 17:33] diogotr7 commented on #179
@simon-wh The log does not have that error. Glad to help!

[2017-09-11 01:55] simon-wh commented on #623
This was added thanks to PR #676 and is available in development releases.

[2017-09-11 01:55] #623 closed

[2017-09-11 04:19] simon-wh commented on #461
I've completed the feature I mentioned above which will be available in the next development release.

[2017-09-11 04:19] #461 closed

[2017-09-11 15:44] CJ2311 commented on #758
I'm getting similar issues on 0.6.1-dev3
I've upload my logs [here](https://u.biyori.moe/aNjLBsuA.log), since they slightly exceeded  the limit on pastebin.
Aurora works automatically starts using 150MB and that increases at an alarming rate (already at 500MB after 30 seconds of execution) until it fills up the RAM and windows automatically closes it or stops responding. This happens both if the p

[2017-09-11 17:17] simon-wh commented on #758
@CJ2311 What's the log you have after you using the build linked?

[2017-09-11 17:31] CJ2311 commented on #758
[Here](https://pastebin.com/W2wT530N) it is after having Aurora run for an hour.
RAM usage remained normal during that time.

[2017-09-11 18:10] simon-wh commented on #758
@Bionicle06 Do you use the Equalizer layer? If so could you compare a run with and without using that Layer?

[2017-09-11 18:11] simon-wh commented on #758
@CJ2311 Thanks, I think the memory leak you were experiencing was due to an issue in NAudio which is used in the Equalizer Layer.

[2017-09-11 18:32] CJ2311 commented on #758
I see, well for the record, I never used that layer since I installed any of the dev versions. Dunno if that information helps.
Also when I first used the test build without deleting the AppData, the steelseries error you can see a few times only on my last log was repeating similarly to NAudio (and therefore the memory leak was still present), but I deleted that log file, I'm afraid.

[2017-09-11 18:34] simon-wh commented on #758
@CJ2311 You should disable any device integrations you have no devices for under the device manager to avoid unnecessary attempts at initializing them

[2017-09-11 18:57] CJ2311 commented on #758
I did that now, thanks for the advice :)

[2017-09-11 19:20] simon-wh commented on #770
I've added the dvorak layout, it'll be available in the next release.

[2017-09-11 19:20] #770 closed

[2017-09-11 20:53] kaporten commented on #747
Hi - no it has this kind of enter key:
https://www.vortez.net/articles_file/35597_cooler%20master%20masterkeys%20pro%20l%20intro.jpg

[2017-09-11 20:58] simon-wh commented on #747
Could you follow this issue comment: https://github.com/antonpup/Aurora/issues/549#issuecomment-323605451 and tell me what co-ords light up your enter key?

[2017-09-11 22:21] noisyboi commented on #679
Il would ove to see this get added as I recieved a Glaive today :) if th ere is anything I can do to help just ask ;)

[2017-09-12 01:13] DeniSmooth commented on #679
I see that now I accept the Glaive device, but no effect on Overwatch still does not work as side lights with the integration of the game and I realized that if I put a rainbow effect, also do not work the side LEDs of the Glaive. In the sector where they show the options of mice, like G900, Katar, M65, not yet the Glaive. Am I doing something wrong?

[2017-09-12 13:35] kaporten commented on #747
Sure, the main enter-key is Row 2, Column 14.
The numpad-enter is Row 4, Column 21 if that's relevant to know.

[2017-09-12 14:22] brainbug89 commented on #747
https://github.com/antonpup/Aurora/blob/34c1886f04dad3e3e38450f22558aecd2261b7cc/Project-Aurora/Project-Aurora/Devices/CoolerMaster/CoolerMasterDevice.cs#L91

Does other layouts have the same problem? I don't have the doc atm to check if the coords are correct.

[2017-09-12 18:59] simon-wh commented on #16
@SebbeJohansson Have you tried the Nordic layout present in the [development releases](https://github.com/antonpup/Aurora/releases)?

[2017-09-12 19:05] simon-wh commented on #749
Could everyone with this issue try [this build](https://www.dropbox.com/s/h534it3b96xfd4t/v0.6.1-dev3%20startup%20test.zip?dl=0)? I've had this running on a few bootups and haven't had the issue again yet. It could still be present as I wasn't experiencing the issue consistently.

[2017-09-12 19:07] SebbeJohansson commented on #16
@simon-wh I dont know why i didnt think of looking for a dev build. It works great! thanks!

[2017-09-12 19:18] noisyboi commented on #679
NBo, you have  not done anything wrong. Glaive has not yet been added

[2017-09-13 00:22] simon-wh commented on #747
@brainbug89 The docs have to coords at 2,14 for international layouts with the large enter key and 3,14 for  US layout. However, this https://github.com/antonpup/Aurora/blob/34c1886f04dad3e3e38450f22558aecd2261b7cc/Project-Aurora/Project-Aurora/Devices/CoolerMaster/CoolerMasterDevice.cs#L422 is supposed to switch it to the backslash key which has 2,14 as its coord. I have no idea why it isn't work

[2017-09-13 03:36] Firedrops opened #788 "Request support for Cooler Master Masterkeys Pro M RGB"
I see support for L and S, but no M. Does it share the same SDK?
(http://makerhub.coolermaster.com/custom-lighting/)

[2017-09-13 04:29] Iruberiam commented on #749
I've just tried that build and sadly the problem remains. No UI and no tray icon

[2017-09-13 15:03] brainbug89 commented on #788
Duplicate of #603

I already added it here: #608

Try the latest dev version: https://github.com/antonpup/Aurora/releases/tag/v0.6.1-dev3

[2017-09-13 15:07] #788 closed

[2017-09-13 15:40] simon-wh commented on #749
@lruberiam Could you post your log file?

[2017-09-13 16:57] lucasvanhalst commented on #749
I can confirm that it still has the leak in that build. Where can I find the logs? in the aurora folder there's a folder named 'logs' but it's empty

[2017-09-13 16:59] brainbug89 commented on #749
`%appdata%\Aurora\Logs`

[2017-09-13 17:19] Iruberiam commented on #749
@simon-wh log posted at https://pastebin.com/jU5SPxXm

[2017-09-13 20:01] NM1r opened #789 "Profile Compatibility"
### What are you experiencing an issue with?
- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [x] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?
- [ ] Crash
- [ ] Performance problems
- [ ]

[2017-09-13 20:05] simon-wh commented on #789
Each folder in the Profiles directory is for each application and stores the profiles relevant to them. In v0.6.0b I think the profiles won't be compatible with other applications due to the profile system in that version (in the dev builds they should carry over). If you have a profile that isn't working you should check the logs for errors. If you want to share a profile you copy the PROFILENAME

[2017-09-13 20:39] Nitzowsky opened #790 "[Request] Philips Hue Suport"
It would be amazing if Aurora withstand Philips Hue as the ambilight effect or according to the effect of the game on the keyboard.

[2017-09-13 22:09] #789 closed

[2017-09-13 22:10] simon-wh commented on #790
Duplicate of #358

[2017-09-13 22:10] #790 closed

[2017-09-14 01:38] Medroid commented on #504
@simon-wh it worked.

Thanks.

[2017-09-14 01:38] #504 closed

[2017-09-14 03:02] stalonage opened #791 "k65 lux not working"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [X] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [X] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-09-14 14:11] olokos opened #792 "Log files growing indefinitely"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [x] Performance problems
- [

[2017-09-14 14:12] olokos commented on #791
Try to apply gsi patch under application profile that you want to use in aurora.

[2017-09-14 14:13] simon-wh commented on #792
Could you give a sample of what is present in the logs?

[2017-09-14 18:39] magnus97 opened #793 "Volume Overlay"
### What are you experiencing an issue with?

- [x ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ x] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
-

[2017-09-14 19:39] Nitzowsky commented on #358
I can test if needed

[2017-09-14 19:39] brainbug89 commented on #793
hmm just tested it and Volume Overlay doesn't work at all for me atm.

[2017-09-15 09:53] Draftex opened #794 "g910 orion spectrum "|" and "\" keys"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [x] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-09-15 09:54] Draftex commented on #794
sorry I didn't leave any logs or images, I though you should have a pretty good understanding of what the issue was

[2017-09-15 10:52] magnus97 commented on #793
ye i noticed it on my work computer and tested it on my home computer and also got someone with another keyboard also to test it and it just dosent work for some reason.

[2017-09-15 10:55] magnus97 commented on #794
try updating to dev-3 since it works for me

[2017-09-15 11:04] simon-wh commented on #791
@stalonage What applications are you experiencing this with? To apply any necessary patches you need to click the "Show Profile Overview" button which will show a description for the application and will direct you if you need to make any changes.

[2017-09-15 11:09] Draftex commented on #794
uninstalled aurora, downloaded dev-3, still doesn't work. thanks for replying quickly though!

[2017-09-15 11:11] simon-wh commented on #793
What does your log show when your change volume? I think the issue may be related to an error getting the device volume using NAudio.

[2017-09-15 11:14] simon-wh commented on #794
What layout do you have for your keyboard and what one do you have selected in Aurora?

[2017-09-15 11:16] magnus97 commented on #793
where can i find this log file?

[2017-09-15 11:17] magnus97 commented on #793
found the log file and this is the error https://pastebin.com/E0sCFy46

[2017-09-15 11:19] magnus97 commented on #793
also to shoot in im also using a logitech g933 as a audio device and logitech does some device tweaking outside of windows when it comes to its audio setup for eqalizer and surround sound

[2017-09-15 11:21] simon-wh commented on #793
The error you're getting is the same one I was referring to. I don't think the device tweaking you're referring to affects it at all as I've experienced the error lately on multiple devices that didn't experience it previously.

[2017-09-15 12:01] stbatuhan commented on #132
So there is a project which i didn't looked so carefully but way to control lights is there:

https://github.com/kusti8/hue-plus

It does same thing with nzxt's app but it has also timer cabapilities. So i guess there is a way to integrate to this project? @simon-wh  what do you think? Could you look a bit?

[2017-09-15 12:15] simon-wh commented on #793
I've fixed the issue with the commit above which will be available in the next release.

[2017-09-15 12:15] #793 closed

[2017-09-15 13:19] Draftex commented on #794
If you by layout you mean "QWERTY", "QWERTZ" etc. I have a querty keyboard and i have selected United Sates in aurora (though my problem occurs with "automatic" aswell.

[2017-09-15 13:20] Draftex commented on #794
Sorry, I meant I had a "QWERTY" keyboard, my mistake.

[2017-09-15 21:43] insanityman00 opened #795 "Ambilight brightness"
### What are you experiencing an issue with?

- [x ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-09-16 04:51] jizichun opened #796 "Corsair K95 platinum Macro key issue"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [x] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-09-16 07:38] #796 closed

[2017-09-16 09:55] NM1r opened #797 "Gradient Layer improvements"
### What are you experiencing an issue with?
- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [x] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?
- [ ] Crash
- [ ] Performance problems
- [ ]

[2017-09-16 11:19] diogotr7 commented on #797
The media keys aren't supported by the sdk unfortunately.

[2017-09-16 11:38] insanityman00 commented on #795
I think that Ambilight is the best option in Aurora software because it doesn't just looks so great, in some cases it expands experience and makes it more complete in movies or some games. Unfortunately i am new in programming so i won't be able to improve anything, but i thought that i can share my idea with others.
There are really three things i would change or add to Ambilight mode. First of a

[2017-09-17 16:39] NM1r opened #798 "Aurora dev surpresses Logitech Gaming Software"
### What are you experiencing an issue with?
- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?
- [ ] Crash
- [ ] Performance problems
- [x]

[2017-09-17 16:57] NM1r opened #799 "Aurora fails to start after using dev version"
### What are you experiencing an issue with?
- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?
- [x] Crash
- [ ] Performance problems
- [ ]

[2017-09-17 17:44] simon-wh commented on #798
You have to enable the "Show Default lighting(CUE, LGS, etc) when Desktop is disabled" option in settings.

[2017-09-17 17:44] #798 closed

[2017-09-17 17:45] simon-wh commented on #799
You need to delete %appdata%/Aurora/Config.json

[2017-09-17 17:45] #799 closed

[2017-09-17 17:48] NM1r commented on #798
Okay, sorry.
Why did you decide to have such an option? It seems rather pointless to me.

[2017-09-17 18:59] olokos commented on #792
https://i.gyazo.com/89eebe89be358517cc77caf2e6da723f.png
Can't really open this huge files. I'll try to get a smaller log and post it in a few days.

[2017-09-19 00:31] Wolfieeewolf commented on #795
Look up Philips amBX. I think that's what you are after. If the amBX SDK get implemented this would be possible. amBX technology allows sound and video to be interpolated and mapped to a 3 dimensional space. You then setup your lights in your physical space with lights in front of you, beside you and behind you. lots of games are supported see http://www.mobygames.com/game-group/technology-ambx/of

[2017-09-19 17:07] clytemnestra opened #800 "Overwatch plugin blank keyboard until entering a match"
### What are you experiencing an issue with?

- [ ] Aurora
- [x] Aurora supported game, (Overwatch)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [x] Visua

[2017-09-19 17:09] clytemnestra commented on #800
Seems to be something from this

[code]

[2017-09-19 17:10] simon-wh commented on #800
Duplicate of #771

[2017-09-19 17:10] #800 closed

[2017-09-19 17:32] clytemnestra commented on #800
@simon-wh  Mind telling me how to solve it, please? From looking in that issue I see people are describing blank screen only, but I get colors when joining a match. How can I have any color at the menu? It is pretty annoying to have it blank until joining a game.

[2017-09-19 17:40] lucasvanhalst commented on #749
So, have you been able to take a look yet?

It's kinda bad still ![https://i.imgur.com/vY2LeYE.png](https://i.imgur.com/vY2LeYE.png)

[2017-09-19 17:43] Junneh opened #801 "Coolermaster Pro M support"
Would it be possible to add support for CM pro M boards? Seeing the S and L are already in I dont think this is too much work? thanks!

[2017-09-19 17:48] simon-wh commented on #801
It's already been added in the prerelease builds that you can find here: https://github.com/antonpup/Aurora/releases

[2017-09-19 17:48] #801 closed

[2017-09-19 17:48] Junneh commented on #801
great stuff, thanks!

[2017-09-19 17:50] simon-wh commented on #749
@lucasvanhalst I've taken plenty of looks but I still haven't been able to figure out the cause. It isn't helped by the fact that I can't consistently replicate the issue.

[2017-09-19 19:29] Iruberiam commented on #749
For me, Dev3 has been stable, excluding the initial issues with the missing interface.

[2017-09-19 21:19] mm615657 opened #802 "Not working on MasterKeys Pro L White"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [x ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-09-21 15:30] selmansavas opened #803 "Motherboard Led Strip Lightning (JLed controls)"
Can aurora control led strips connected to motherboard? That would be really cool

[2017-09-22 13:42] stbatuhan commented on #803
Which motherboard? If it's Asus then this is duplicate of some opened ones. There is an sdk as i know and can be use but not sure much. For MSI there is no real chance bec no sdk from MSI. But there is some works for Linux based systems that can handle mobo controls from os. Windows is hard to do bec that project is a reverse engineering on Linux as i remember.

[2017-09-23 20:22] Junneh commented on #802
I have the same problem with a CM Masterkeys pro S RGB variant

[2017-09-23 21:43] MiniKiller215 opened #804 "game not being detected?"
doesn't detect my game's exe i added + what games will be supported fully? later on

[2017-09-24 06:54] MiniKiller215 commented on #804
Games are not being detected at all , addd game wont at all , csgo is buggy for some reason idk why

[2017-09-24 08:03] MiniKiller215 commented on #804
CSGO GSI isnt working either
http://prntscr.com/gozqfu

[2017-09-24 18:30] Slazke opened #805 "Not saving settings on default lightning"
### What are you experiencing an issue with?

- [x ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-09-24 22:13] Kisco commented on #710
@TomSputz late reply but on the download it shows the mouse image i used as a reference then just took the time to outline it. Simple but time consuming :P

[2017-09-25 14:55] agentwolf88 opened #806 "CS GO - Key lighting when i have a weapon?"
How can i make a key lighting when i have a weapon and no lighting when i have no weapon?

When i have a weapon ---> Key "3" is lighting
When i have no weapon ---> Key "3" is not lighting

Is it posible?

[2017-09-25 16:07] DunKalevra opened #807 "K95 Platinum G# keys and Light Edge issues"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [x] Aurora supported device, (K95 Platinum)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [x] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [x] Visual bug
-

[2017-09-25 21:25] simon-wh commented on #805
This issue should be fixed in the dev branch

[2017-09-25 21:25] #805 closed

[2017-09-25 21:30] simon-wh commented on #807
The lighting of the G keys was sorted out by #759. I've sorted out the issues with the light edge with the above commit

[2017-09-25 21:30] #807 closed

[2017-09-25 21:31] simon-wh commented on #804
Where do you have CSGO installed?

[2017-09-25 21:37] simon-wh commented on #797
1. Away effect and overlays are already planned to be reworked for v0.7.0
2. Can't you achieve that effect with what is available currently?
3. You can just use freestyle and cover the entire keyboard which would be a better way of going about it as it'd cover keys that you don't have in your layout if you were to share it with someone using a different keyboard
4. The development releases have th

[2017-09-25 21:39] simon-wh commented on #806
This will be possible through the Layer Logic planned for v0.7.0

[2017-09-25 21:39] #806 closed

[2017-09-26 06:59] Dreadp1r4te opened #808 "Suggestion: Unfocused Apps"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [X] Other, (Suggestion)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [ ] Visual bug
- [

[2017-09-26 16:31] simon-wh commented on #808
I've got exactly this planned already for v0.7.0 using the Layer Logic, I'll use this for tracking the feature.

[2017-09-26 17:24] Dreadp1r4te commented on #808
Excellent, thanks for the awesome job! Really glad to see Aurora evolved to include bridging all the various RGB products and add awesome new features to them! Is there a donation link available somewhere?

[2017-09-26 17:29] simon-wh commented on #808
@Dreadp1r4te You can see the details of the development team and donations [here](https://github.com/antonpup/Aurora#development-team)

[2017-09-26 17:31] MiniKiller215 commented on #804
On E drive

[2017-09-26 17:31] MiniKiller215 commented on #804
Thats where most of my games are

[2017-09-26 17:36] simon-wh commented on #804
Could you give a full path to the csgo directory?

[2017-09-26 17:57] MiniKiller215 commented on #804
never mind cs is on my main drive
C:\Program Files (x86)\Steam\steamapps\Common\Counter-Strike Global Offensive
used to be on
E:\Steam\steamapps\common\Counter-Strike Global Offensive

[2017-09-26 18:03] MiniKiller215 commented on #804
Why wouldnt aurora be detecting games as in their process that i add

[2017-09-27 03:38] Tehu-Tehu opened #809 "Numpad Lighting Issues - Masterkeys L"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [x] Aurora supported device, (Masterkeys L RGB Red Switch)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [x] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [x

[2017-09-27 11:07] f3rs3n commented on #663
@simon-wh Razer DLL's are normally found in Warframe\Tools\Windows\x86 and x64.

[2017-09-27 12:49] stbatuhan commented on #132
@simon-wh
I also tried that:
https://github.com/CalcProgrammer1/KeyboardVisualizer
For music and works on hue+ led strips perfectly. But it's only for music sync. So you can look that repo too if you want.

[2017-09-27 13:48] simon-wh commented on #809
Numpad issue is a duplicate of #549.
The enter key issue has not been previously known, could you try [the latest development release](https://github.com/antonpup/Aurora/releases)?

[2017-09-27 13:57] Tehu-Tehu commented on #809
i did and the enter key got fixed , but the numpad problem got reversed , now 6 lights up 5 - and i noticed another problem on the latest development release build , the lighting effects arent registering as fast as 0.6.0, if i spam a key in an interactive layer theres a short delay before the lighting effect will register again

[2017-09-27 16:30] dump66 commented on #320
Sorry to open this again, but is it still working for someone out there?
I've got a G910 and the only thing working for me are the 1,2,3,4 and Q buttons (shining white). But there is no red light or any other buttons shining. Followed the instructions here.

[2017-09-27 16:38] simon-wh commented on #320
@dump66 See issue: #539

[2017-09-27 16:51] simon-wh commented on #809
The thing with the interactive layer is intentional, it is to prevent high cpu usage when using a macro that spams a particular key. The numpad issue is still #549 so I'm going to close this.

[2017-09-27 16:51] #809 closed

[2017-09-27 17:10] dump66 commented on #320
My bad. I knew I saw this bug somewhere in the webs, but could't find it anymore. Thx for the link, though. Hope you get it working and thx for your huge efforts. As a programmer myself I really appreciate your work.

[2017-09-27 21:10] ChaosgamesTV opened #810 "Can you Support the Corsair RGB mousepad?"
Hello i want to ask you if you can support the corsair RGB mousepad i have one of them and it works when i say aurora that it is a mouse but then my logitech mouse does not work!
It would be very nice if you can fix this problem. It would be also very nice if you can support every zone on the pad;). Maybe you can make a option to run 2 mouses the same time that would be a very nice start.

Greetin

[2017-09-27 21:13] ChaosgamesTV opened #811 "Can you support Roccat RGB Products"
Hey,
on your website you say that you want to support everything that has an SDK. Roccat has one.
I use Aurora for a long time now with my G810 Keyboard and my Corsair Polaris mousepad. But my roccat mouse did not work.

A support would be realy nice;).

[2017-09-27 22:31] simon-wh commented on #810
Duplicate of #481

[2017-09-27 22:31] #810 closed

[2017-09-27 22:36] simon-wh commented on #804
Could you post your log file after attempting to Patch GSI for CSGO?

[2017-09-27 23:31] MiniKiller215 commented on #804
where would that be located?

[2017-09-27 23:32] simon-wh commented on #804
You should be able to go to Settings then Debug and click "Show Logs Folder". If you don't have that then the path is %appdata%/Aurora/Logs/

[2017-09-27 23:32] MiniKiller215 commented on #804
found it ^^

[2017-09-28 03:29] RaPoZaUm commented on #683
Would love to see something for Witcher 3 on Aurora!!!

[2017-09-28 04:58] ChaosgamesTV commented on #811
Hey also have a nee technologie for some cool effects Maybe they will bring an SDK later this Year.
http://aimo.roccat.org/de/Overview/

[2017-09-28 12:48] diareuse commented on #758
Hey! I have disabled everything and Windows still gives me OOM cause Aurora takes almost 32GB of RAM. Tried #387 but had no luck whatsoever. Can't tell if logs will help ya cause I personally don't see anything wrong with it https://pastebin.com/287Yu94T. It just happens to OOM on random basis.

[2017-09-28 22:18] Wuestengecko opened #812 "Visualizer is misnamed as Equalizer"
### What are you experiencing an issue with?

- [X] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [X

[2017-09-28 22:21] jdubnz opened #813 "Aurora not launching on start up"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-09-28 23:27] Wuestengecko opened #814 "Tray icon does not show up"
### What are you experiencing an issue with?

- [X] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-09-29 14:37] Wuestengecko opened #815 "Joystick axis idling in non-center position prevents away effects"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [X] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-09-29 16:31] SlayerTh opened #816 "Rocket league lightning effects"
### What are you experiencing an issue with?

- [ ] Aurora
- [Rocket League] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance p

[2017-09-29 19:19] darosultan commented on #679
I've patched CUE.NET to send raw USB packets instead of using Corsair's SDK dll (since it's bugged for Glaive atm) and it works with Aurora. Available in my repo. Just clone, build and place CUE.NET.dll and HidSharp.dll in Aurora's folder. Use Sabre layout in the app.

[2017-09-30 02:17] andrewwilliam26 opened #817 "Logitech G502 mice lighting not synced with app"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [x] Aurora supported device, (Logitech G502)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [x] Visual bug
-

[2017-09-30 10:21] Elias8477 opened #818 "reset on pc startup."
Hello, it's the second day I used Aurora and (its morning for me right now) when I started up my pc it gave the "first time instructions" and it reset my settings for my keyboard (what keyboard I've selected and keyboard layout) the rest is how it was, the color settings etc. are just the same.
I don't think this is normal so help would be appreciated! I've downloaded the program from the official

[2017-09-30 11:35] Tehu-Tehu opened #819 "Lighting delay between presses"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-09-30 19:34] NM1r commented on #797
No since Aurora displays everytime the full spectrum (e.g. red to red) while Logitech rainbow displays only a part (eg. red to green, later on yellow to blue ...).

[2017-09-30 22:32] simon-wh commented on #818
I think the issue is related to a saving issue which requires a safe shutdown of the application for it to properly save the configuration changes. I believe I've sorted this out in the development branch so it shouldn't be an issue anymore.

[2017-09-30 22:32] #818 closed

[2017-09-30 22:33] simon-wh commented on #816
Duplicate of #185

[2017-09-30 22:33] #816 closed

[2017-09-30 22:38] simon-wh commented on #813
Could you try the [latest development release](https://github.com/antonpup/Aurora/releases) to see if you still have the issue?

[2017-09-30 22:39] simon-wh commented on #814
Did you check %appdata%/Aurora/Logs for the latest log file?

[2017-09-30 22:42] simon-wh commented on #817
Has the Logitech integration definitely connected? You should be able to check under Device Manager what the status of it is, also logs would be helpful. Either click "Show Logs Folder" from Settings -> Debug or go to %appdata%/Aurora/logs

[2017-09-30 22:43] simon-wh commented on #797
@NM1r I don't think I fully understand what you want to achieve, could you give a visual demonstration?

[2017-09-30 22:48] Wuestengecko commented on #814
Indeed, there is one. Edited it into OP.

[2017-10-01 07:08] blingblong opened #820 "Overwatch profiles not working at all (G910)"
### What are you experiencing an issue with?

- [ x] Aurora
- [x ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ x] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ x] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems

[2017-10-01 07:39] Poolitzer commented on #820
Having a G910 Orion Spectrum here, works like a charm

[2017-10-01 07:41] blingblong commented on #820
Dunno what witchcraft you use :D Mine used to work a month ago, but has now suddenly stopped after a major update in overwatch. Seems like I can't get it to work again.

[2017-10-01 07:45] Poolitzer commented on #820
Maybe the developer has an idea how to fix it xD

[2017-10-01 10:36] Poolitzer opened #821 "Rocket League only background"
### What are you experiencing an issue with?

- [ ] Aurora
- [x] Aurora supported game, (Rocket League)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [x] V

[2017-10-01 11:41] Elias8477 commented on #818
So, I don't need to do anything? No update or patch to install?

[2017-10-01 17:22] Tehu-Tehu commented on #820
does it happen in a match aswell or just the lobby ?

[2017-10-01 17:48] simon-wh commented on #818
It should be fine now, but you could get the development releases which should be better than the current stable build. I think the changes I made for saving haven't been put in a release yet.

[2017-10-01 17:48] simon-wh commented on #821
Duplicate of #185

[2017-10-01 17:48] #821 closed

[2017-10-01 17:49] simon-wh commented on #820
Have a look at #771

[2017-10-01 18:15] Poolitzer commented on #185
Can you give an ETA? Please :D

[2017-10-01 18:20] simon-wh commented on #185
I'll try and get it updated for each release I do. I'm not sure when I'll
be releasing the next one,but hopefully soon.

On 1 Oct 2017 19:15, "Poolitzer" <notifications@github.com> wrote:

[2017-10-01 18:23] Poolitzer commented on #185
Sounds good, thanks. Amazing work.

[2017-10-02 02:56] Firedrops commented on #125
@cjbeames  @mm615657

Sorry, I'm not sure this is the right place to ask, but may I know how you two got it working? My Aurora shows the keyboard as "connected", but it's exerting no control at all, it still follows CM's portal software. Are there other things I need to do?

[2017-10-02 18:06] mm615657 commented on #125
@Firedrops It is not working on my MasterKeys L White,check https://github.com/antonpup/Aurora/issues/802

[2017-10-02 18:39] cjbeames commented on #125
Disable the Cooler master software.

[2017-10-02 19:22] mm615657 commented on #125
uninstalled the CM's portal software, doesn't help

[2017-10-02 22:16] cjbeames commented on #125
Have you selected your keyboard in the setting of aurora?

[2017-10-02 22:22] mm615657 commented on #125
Yes, I do selected my keyboard in the Devices&Wrappers. i even manually set a new layer to make all keyboard showing white,but nothing happened except my keyboard not lighting up anymore.

[2017-10-02 22:37] cjbeames commented on #125
There is a layer that highlights things like copy and paste when you hold down ctrl. Does that work?

[2017-10-02 22:39] mm615657 commented on #125
no，the preview and debug map shows that all keyboard should be white but my physial keyboard is dark.
i know how this software works,it was once worked in my self-modified version,but in official dev version it doesn't work at all

[2017-10-03 00:27] luanveras3 opened #822 "Doesn't recognize CSGO while using GamersClub Anti Cheat"
i am facing some problems to run the Aurora and the CSGO while using the GamersClub AntiCheat.

### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [x] Other, (Fill in an

[2017-10-03 04:29] Firedrops commented on #802
+1 with Masterkeys Pro M RGB, but I'm not sure if I've just not taken the right steps or if it's really a problem, since there's no 'first time instructions' for CM

[2017-10-03 12:29] DavidEdberg commented on #480
A SDK is in early beta now
https://www.asus.com/campaign/aura/ae-en/SDK.html

[2017-10-03 14:47] simon-wh commented on #822
It is likely that anti-cheat is interfering with the GSI system that Aurora utilizes for doing lighting. Do you normally have it working without using that Anti-cheat? Because if so I doubt there is much I can do to change anything.

[2017-10-03 15:10] luanveras3 commented on #822
Yes, without using this anti cheat works great.

Maybe if I change the sequence that aurora read the open programs, I could
make it work.

But thanks anyway

Em 3 de out de 2017 11:47, "Simon W" <notifications@github.com> escreveu:

It is likely that anti-cheat is interfering with the GSI system that Aurora
utilizes for doing lighting. Do you normally have it working without using
that Anti-cheat?

[2017-10-03 23:09] jdubnz commented on #813
Tried it and problems are all solved thank you!

[2017-10-04 08:27] #813 closed

[2017-10-04 22:34] DarkFox opened #823 "Support for multiple LEDs in Atmoorb strip"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [x] Aurora supported device, (Atmoorb)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [ ] Visual bug
- [ ] L

[2017-10-05 09:08] Firedrops commented on #125
Pretty much in a same situation as @mm615657, except I've never had "my own" versions to play with before.

[2017-10-05 18:14] M83X opened #824 "Aurora keeps crashing"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [x] Crash
- [ ] Performance problems
- [

[2017-10-05 19:04] NikWillOrStuff commented on #824
I have the same issue with a different error message. I installed the web installer from https://aurora.modworkshop.net/, it prompted to enable the SDK in corsair utility engine, then it crashed.

https://i.imgur.com/iV7KcGt.png

[2017-10-05 19:26] NikWillOrStuff commented on #724
I installed v0.6.1-dev3 from the releases on github (the webinstaller installed a version of aurora that instantly crashed, I posted more info [here](https://github.com/antonpup/Aurora/issues/824#issuecomment-334561712)). and I don't have this issue anymore! but what's particularly weird, I uninstalled dev3 and installed v0.6.0-dev2 (it says "beta v0.6.1-dev2" in aurora itself) again, which is wha

[2017-10-05 19:29] #724 closed

[2017-10-05 19:34] simon-wh commented on #824
@NikWillOrStuff to fix that issue you had you would need to have deleted the %appdata%/Aurora/Config.json file. That issue you had is a known issue when you go back to v0.6.0b from the Dev releases

[2017-10-05 19:37] NikWillOrStuff commented on #824
derp, thanks. I figured the uninstaller would remove everything so I didn't check for anything in appdata

[2017-10-05 20:46] M83X commented on #824
Damn that manually DL didint solve my problem :( i got same error still.

[2017-10-06 00:04] Yakumounr opened #825 "Req: Quake Champions suppot"
The latest version of Quake Champions just launched with Razer Chroma support built in, it would be great if you could add that to Aurora so that those with Corsair Strafe RGB and similar non Razer products could have lighting effects as well :o)

[2017-10-06 01:44] Yakumounr commented on #825
I've tried just using the Razer Chroma wrapper, and though the game appears to lock the razer .dll files in the same folder as the game exe, aurora doesn't seem to do anything.

Aurora's desktop profiles are working with my keyboard so it's not that.
I've tested the current release version or Aurora and also v0.6.1-dev3 ( tip for anyone reverting from the beta back to the production release, I had

[2017-10-07 09:14] Janzze opened #826 "[Request] World Of Tanks support."
It would be cool when you got hit by enemy tank your keyboard go full red.

[2017-10-07 12:44] MustacheNL opened #827 "Rocket League Support"
### What are you experiencing an issue with?

- [ ] Aurora
- [X] Aurora supported game, Rocket League
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [x] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [ ] Vis

[2017-10-07 18:00] simon-wh commented on #827
Duplicate of #185

[2017-10-07 18:00] #827 closed

[2017-10-07 18:03] simon-wh commented on #822
The anti-cheat probably disables GSI which is required for the CS:GO functionality to work so I don't know how much I can actually do about this.

[2017-10-07 18:03] #822 closed

[2017-10-07 18:05] simon-wh commented on #824
@M83X Could you try the [latest development release](https://github.com/antonpup/Aurora/releases) to see if it makes a difference?

[2017-10-07 18:10] #820 closed

[2017-10-07 18:11] simon-wh commented on #825
Could you post the log file after trying to get it work?

[2017-10-07 18:16] simon-wh commented on #826
Duplicate of #210

[2017-10-07 18:16] #826 closed

[2017-10-07 18:30] #812 closed

[2017-10-07 18:32] TaZZzZ opened #828 "Too slow"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [x] Performance problems
- [

[2017-10-07 18:33] simon-wh commented on #819
Can you post a video of what you're experiencing? Because from my testing I didn't notice any significant delays

[2017-10-07 18:38] simon-wh commented on #828
Can you try the [latest development release](https://github.com/antonpup/Aurora/releases), see if it changes anything and if it doesn't post the logs + the update time for the Logitech integration under Device Manager?

[2017-10-08 09:27] dfg260 commented on #749
It still eats lots of ram but, for me, it stops at ~8,5 - 9,5 GB and then it starts to decrease slowly . It also runs normally so u dont notice it doing that if you have enough ram.
so i guess its partialy fixed!
Logs: https://pastebin.com/Ssrw2VUh

[2017-10-08 16:13] dfg260 commented on #749
@lucasvanhalst you were right. it filled both ram & swap. but you still don't notice it until your pc bluescreens with a system service exception.
![screenshot](https://i.imgur.com/vmQT91b.png)

[2017-10-08 18:11] M83X commented on #824
now i get error like this https://imgur.com/oZWKJCc

[2017-10-08 18:13] simon-wh commented on #824
You shouldn't be getting that is you're actually using the development
release, only if you use the Dev release and go back, which means you need
to delete %AppData%/Aurora/Config.json as referred to above

On 8 Oct 2017 19:11, "M83X" <notifications@github.com> wrote:

[2017-10-08 18:19] DoctorOtterface commented on #644
No luck with deciphering the USB writing - another person donated the code to CalcProgrammer; on further note I seem to have narrowed down the delay - it will only occur if a GameSense peripheral is recognised / enabled in Aurora, perhaps it is waiting for an API response before updating the frame?

[2017-10-08 21:21] selmansavas opened #829 "Volume Overlay Not Working"
### What are you experiencing an issue with?

- [x ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ x] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
-

[2017-10-08 22:39] Tehu-Tehu commented on #819
i didn't say its anything significant but i can easily notice it when having key wave and pressing the same button over and over again, which can be annoying in some cases , atleast for me :\

https://i.imgur.com/Y1h2gmF.gifv

[2017-10-08 22:54] simon-wh commented on #829
The Volume Overlay has been fixed in the dev branch and will be working in the next release.

[2017-10-08 22:54] #829 closed

[2017-10-09 04:09] Yakumounr commented on #825
"[ERROR] 09/10/2017 04:59:43: Razer device, Exception! Message:System.Exception: No Chroma SDK available"
Do end users have to install the Razer SDK as well then? I don't recall seeing this mentioned anywhere

Here's the full log:

`========================================
Operation System: Windows 10 Pro
System Architecture: 64 bit
Environment OS Version: Microsoft Windows NT 6.2.9200.0
System Di

[2017-10-09 06:41] agentwolf88 opened #830 "Soundblaster AE 5 Support?"
Is there a way to work with Soundblaster AE 5?

[2017-10-09 15:18] DarkFox commented on #823
After reading through the Atmoorb ESP8266 firmware, it occurs to me that this might not be the best protocol for it, as you'd actually need an ID for each pixel, and a modified firmware. I'll look into some other protocols that might be more suitable.

[2017-10-09 16:40] ashleymorris2 commented on #747
I have this same issue with coolermaster s on UK layout

[2017-10-10 06:49] SilentZen commented on #823
Have a look at pi-lighting branch
The python web server part looks portable
https://github.com/antonpup/Aurora/blob/pi-lighting/aurora_neopixel_pi.py
There seems to be enough websocket libraries available for particle photon

Example
https://build.particle.io/libs/Particle-WebSockets/2.0.8/tab/example/WebSocketServer_LEDcontrol.ino

[2017-10-10 20:53] ch3mox opened #831 "Changing the the Speed of Animation Layers"
Hey there, is it possible to give us the option to increase and decrease the playback speed of an animation layer?

I made a profile and used the minimum of animation frames, but it's playback is not fast enough for my opinion.

Thanks so far and keep up the good work. <3

Regards,
Andi

[2017-10-11 08:19] KfirP opened #832 "The program crashes when I tick the "Start with Windows" option"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [x] Crash
- [ ] Performance problems
- [

[2017-10-11 08:20] stbatuhan commented on #803
http://download.msi.com/uti_exe/Mystic_Light_2.zip
There is a leak i guess. There is sdk files (documentation, header and dll files with old beta and full launch of program)

[2017-10-11 08:20] stbatuhan commented on #642
http://download.msi.com/uti_exe/Mystic_Light_2.zip
There is a leak i guess. There is sdk files (documentation, header and dll files with old beta and full launch of program)

[2017-10-11 08:25] simon-wh commented on #832
Try the [latest development release](https://github.com/antonpup/Aurora/releases)

[2017-10-11 20:32] KfirP commented on #832
I tried it, now it doesn't crash... But on startup I can see the process is running but it doesn't apply on the keyboard. So I need to end the process and run the program manually.

[2017-10-11 21:16] simon-wh commented on #832
Probably the same issue #749

[2017-10-11 21:16] #832 closed

[2017-10-11 23:38] Yakumounr commented on #825
If there's anything further needed please let me know :)

[2017-10-12 17:36] lucasvanhalst commented on #778
The performance of ambilight could probably be improved by using the desktop duplication api https://msdn.microsoft.com/en-us/library/windows/desktop/hh404487(v=VS.85).aspx

I use a program that has ambilight as its main feature (https://github.com/psieg/Lightpack) and desktop duplication performs about 4 times better and it doesn't make the windows lag.

[2017-10-15 00:10] twalts opened #833 "Memory leak issue in most recent beta"
### What are you experiencing an issue with?

- [X] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [X] Performance problems
- [

[2017-10-15 14:28] simon-wh commented on #833
Duplicate of #758

[2017-10-15 14:28] #833 closed

[2017-10-15 18:30] M83X commented on #824
@simon-wh sorry for the late answer.. now i did unistalled config.json and downloaded aurora dev3. all ok no error BUT program not showing anywhere exept on windows management (ctrl+alt+del) and if i click again exe it just saying program already running exiting.

[2017-10-15 19:59] NikWillOrStuff commented on #824
hmm, make sure it's not running hidden in your taskbar, which is by default on the bottom right corner of your screen. double-click the taskbar icon to bring up the aurora window

that's interesting tho, I don't get the "program already running" error

[2017-10-15 23:01] wallrys opened #834 "Aurora Download Not Working"
### What are you experiencing an issue with?

- [x] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [

[2017-10-16 17:47] mitchtjohnston commented on #834
+1 to this request. I am also experiencing this issue.

[2017-10-16 19:10] M83X commented on #824
@NikWillOrStuff  i didnt remember to mention that in first time i exec aurora i did saw it on taskbar but when i did put my mouse over it it just disappered and never come again back. Just on windows management.

[2017-10-17 15:19] simon-wh commented on #834
It is a temporary issue as the server that hosts the download files is migrating currently.

[2017-10-17 15:19] #834 closed

[2017-10-17 15:30] simon-wh commented on #834
For now, you can download Aurora manually [here](https://github.com/antonpup/Aurora/releases) on github, or [here](https://project-aurora.com/history.php) on the website. I'm going to update the web installer so that it can use the correct domain, but it may go out of action again in the near future temporarily.

[2017-10-17 21:02] Bloodcloak opened #835 "Profile Transitions?"
Having another tab where one can edit what happens to the lighting effects when the foreground program changes?

Instead of just switching over instantly, have another profile that can do various effects such as cross fading or a swoop across. Sorta like slideshow transitions.

[2017-10-19 19:22] DBIANX commented on #663
Has anyone been able to make it work? i really hope so

[2017-10-20 09:25] 73u38 opened #836 "RGB Digital Alliance The Meca Z"
hello can you make support device for digital alliance the meca z? its RGB but idk they have sdk or not

[2017-10-21 15:22] simon-wh commented on #836
I wasn't able to find any SDK available for that device so there isn't much I can do to support it at this time

[2017-10-21 15:22] #836 closed

[2017-10-21 16:14] apintocr commented on #314
I'm actually using Aurora for Adobe Products and for other design/development tools.
This would be a major addition that would be very welcome.

However, I'm a web developer and have limited experience with C++...
I can read most of the code and do some tweaks etc.
@antonpup can you point me in the right direction so I can start working on that?

I do already have a Photoshop profile, I can start

[2017-10-22 04:55] RaPoZaUm opened #837 "Some profiles aren't being recognized on the latest release (0.6.1-dev3)"
As an exemple, when I'm trying to open this new profile https://modworkshop.net/mydownloads.php?action=view_down&did=17402 on the software, it just shows default one, not showing any custom layer. Just like I did nothing.

[2017-10-22 09:09] M83X commented on #824
Ok problem solved! i dont know why program didint accept my game middle-earth shadow of mordor but when i did unistalled it aurora started working. is it bug or something ?

[2017-10-22 18:14] simon-wh commented on #837
That profile shows as default because the profile you linked was made before the layer system was implemented so it isn't compatible with newer aurora versions

[2017-10-22 18:14] #837 closed

[2017-10-23 06:35] 73u38 commented on #836
I still ask for the developer this keyboard to send they SDK

On Oct 21, 2017 10:22 PM, "Simon W" <notifications@github.com> wrote:

[2017-10-23 20:43] agentwolf88 opened #838 "0.7.0?"
Hi! Will 0.7.0 release this year or 2018?

[2017-10-23 20:46] simon-wh commented on #838
I have no idea, I've been pretty busy with University stuff recently so I haven't had a lot of time to work on it. Hopefully, I'll be able to get it out by January, but I'm not making any promises.

[2017-10-23 20:47] agentwolf88 commented on #838
OK, thx! Keep up your good work!

[2017-10-23 20:48] #838 closed

[2017-10-24 00:01] simon-wh commented on #530
I've had a look at this again and I was able to replicate the issue if I change the spatial sound setting which may be linked to the issue you've been getting. Could you try [this build](https://www.dropbox.com/s/e0ufxj9zcubhwhy/v0.6.1-dev3%20visualizer%20test.zip?dl=0) to see if it resolves your issue?

[2017-10-24 12:29] BohemianGeek opened #840 "UK Layout on MasterKeys Pro S, ISO Keys don't light up"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [x] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?
- [ ] Crash
- [ ] Performance problems
- [ ]

[2017-10-24 16:39] apintocr commented on #840
Try to use the latest release and check if the issues persists https://github.com/antonpup/Aurora/releases/tag/v0.6.1-dev3

[2017-10-24 21:44] magnus97 opened #841 "Steelseries QcK Prisim"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [x] Aurora supported device, (Steelseries QcK Prisim)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [ ] Vis

[2017-10-25 14:41] UltimateUltimo commented on #530
Seems like the bug is fixed! The equalizer doesn't freeze after adding enhancements or enabling Spatial sound.

[2017-10-25 14:41] #530 closed

[2017-10-26 02:06] OrangeFlare opened #842 "Fatal Crash"
![image](https://user-images.githubusercontent.com/19276377/32031677-56926866-b9c8-11e7-8eb2-d4c067c8ebd4.png)

[2017-10-26 02:09] OrangeFlare commented on #842
UPDATE:
Fresh install error still occurs

[2017-10-26 13:36] BohemianGeek commented on #840
Tried using v0.6.1-dev3. In this version my whole keyboard does not light up at all.

[2017-10-26 13:58] simon-wh commented on #842
Delete %appdata%/Aurora/config.json

[2017-10-26 13:58] #842 closed

[2017-10-27 15:48] nan0bug00 opened #843 "[Suggestion] Add support for importing coolors.co palettes."
Hi there,

First I just wanted to say thank you for all the work you've done on this program, it's a really amazing bit of software!

I was setting up some profiles today on my keyboard when I found your program, and in order to get everything looking nice I was using this site Coolors.co to find complimentary palettes.  It's really helpful, it's free, and it has an export feature that lets you sa

[2017-10-27 15:50] nan0bug00 commented on #843
Here's an example of the contents of one of those SCSS files, I couldn't attach the file directly.

[code]

[2017-10-28 18:35] patmanblu3 opened #844 "Payday 2 Issue"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [ ] Aurora supported device, (Fill in problematic devices)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [X] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [X

[2017-10-29 14:27] RaPoZaUm opened #845 "Not starting with Windows."
On Beta 0.6.1 dev3, even though I set it to Start with Windows, it does not.

[2017-10-29 15:00] simon-wh commented on #845
Can you open Task Scheduler -> Task Scheduler Library and find "AuroraStartup". Can you check if it is enabled and if it is could you try running it to see what happens?

[2017-10-29 15:06] dominsch opened #846 "The most basic LED strip support"
### What are you experiencing an issue with?

- [ ] Aurora
- [ ] Aurora supported game, (Fill in the game)
- [ ] Aurora Wrapper
- [ ] Aurora Profile
- [X] Aurora supported device, (Generic Led Strip)
- [ ] Aurora Scripts
- [ ] Aurora Updater
- [ ] Aurora Lighting issue
- [ ] Other, (Fill in another issue here)

### What kind of an issue is it?

- [ ] Crash
- [ ] Performance problems
- [ ] Visual b

[2017-10-29 16:47] simon-wh commented on #840
@BohemianGeek Could you post your log file?

[2017-10-29 17:16] RaPoZaUm commented on #845
It was pointing to the Program Files instalation (old version, not 0.6.1 dev3) and I correct it, but it says now Invalid Directory (something like this, my Windows isn't in ENG)

[2017-10-30 19:04] StarrHD opened #847 "Ajazz AK-33 keyboard support?"
- [x] Aurora Wrapper
- [x] Aurora supported device, (Ajazz AK33 RGB)
- [x] Other, (no device support)

[2017-10-30 19:08] diogotr7 commented on #847
That keyboard has been discussed before here and as far as i know it doesn't have an sdk, so there is not much that can be done to support it.

[2017-10-30 19:12] StarrHD commented on #847
do you mean this? (http://a-jazz.com.cn/download_en.aspx)

[2017-10-30 19:44] Overfloow opened #848 ""Aurora has stopped working" at boot or launch"
[2017_30_10.log](https://github.com/antonpup/Aurora/files/1428536/2017_30_10.log)
### What are you experiencing an issue with?
- [x] Aurora Lighting issue

### What kind of an issue is it?
- [x] Crash

### Actual behavior:
When i boot or when I lauch aurora, aurora work properly (RGB profil is correctly loaded) but i have this crash report:

When I click OK, aurora stop

### How often does this pr

[2017-10-30 20:31] simon-wh commented on #847
Duplicate of #756, #583, #505. Please use the search function before opening an issue.

[2017-10-30 20:31] #847 closed

[2017-10-30 20:32] simon-wh commented on #848
Delete %appdata%/Aurora/Config.json

[2017-10-30 20:32] #848 closed

[2017-10-30 23:54] Poolitzer commented on #185
Any Update on this? I would love to help. Maybe, dont know, you can show me for once how to do. And I can do this after every RL Update. So you dont have to ;P

[2017-10-30 23:58] Poolitzer opened #849 "Destiny 2 support"
Does Destiny 2 has something like this? There is a .razerchroma file. Is this something Aurora supports?

[2017-10-31 21:22] diogotr7 commented on #185
@poolitzer issue #730 could be a good place to start. I've tried for a bit but I can't really seem to find the pointers :(

[2017-10-31 21:27] Poolitzer commented on #185
@diogotr7 thanks mate for this link. I gonna search a little bit. The nigth is still young.

[2017-11-01 10:05] PatsyThePencake opened #851 "TF2 support requested"
Hey There everyone :)

I installed Aurora yesterday and it worked like a charm. I'm really happy with it. However, I noticed that all the valve-games have support except TF2, and I would very much like support for TF2 too. I want to say thank you for starting this project, i'm very happy with it and it's amazing work. Do you guys think you can make support for TF2? that would be so extremely amazi